{% extends "layout-kaimahi.html" %} {% set pageTitle = 'Deliveries' %} {% set cssFiles = '../assets/css/style.css' %} {%
import '../components/input.html' as input %} {% import '../components/buttons.html' as button %} {% import
'../components/cards.html' as cards %} {% import '../components/pagination.html' as pagination %} {% import
'../components/nav-tabs.html' as navTabs %} {% import '../components/kaimahi-item.html' as kaimahiItem %} {% block
content %}
<main class="bd-main">
  <div class="row align-items-center">
    <div class="col-12 col-xl">
      <!-- PAGE TITLE -->
      <h1 class="page-title">All Deliveries<sup class="h6 text-primary">12265</sup></h1>
    </div>
    <!-- SEARCH AND FILTER -->
    <div class="col-12 col-md-6 col-xl-auto">{{ input.searchWithFilter('Look For Whānau') }}</div>
    <div class="col-12 col-md-6 col-xl-auto">
      {{ button.text('Create Delivery List', 'btn-outline-primary mb-5 w-100 py-2') }}
    </div>
  </div>
  <div class="row gx-2 gy-3 mb-5">
    <div class="col-xl-4">{{ cards.big('newspaper', '26359', 'All Deliveries') }}</div>
    <div class="col-xl-4">{{ cards.big('truck-fast', '26359', 'Current Deliveries') }}</div>
    <div class="col-xl-4">{{ cards.big('truck', '26359', 'Completed Deliveries') }}</div>
  </div>
  <div class="card">
    <div class="card-body">
      <!-- MY DELIVERIES -->
      <div class="row gx-2 mb-2">
        <div class="col">
          <h5 class="h5 mb-1">My Deliveries</h5>
          <h6 class="fw-light fs-6">Total Whānau <span class="text-primary fw-bold">5</span></h6>
        </div>
        <div class="col-auto">
          <div class="bg-brand-100 py-1 px-3 fw-light rounded">Completed</div>
        </div>
        <div class="col-auto">{{ button.icon('trash-can', 'btn-danger') }}</div>
        <div class="col-auto">{{ button.icon('angle-right', 'btn-gray-200') }}</div>
      </div>
      <div class="card bg-light mb-5">
        <div class="card-body px-3 py-2">
          <div class="row gx-2 align-items-center">
            <div class="col-auto">
              <img src="../assets/images/profile-1.webp" alt="img kaimahi" class="rounded-circle icon-lg" />
            </div>
            <div class="col">
              <h6 class="mb-1">Ahmed Al Aklouk</h6>
              <h6 class="fs-6"><span class="fw-light text-secondary">Last Delivery </span>17-01-2022</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <h5 class="h5 mb-1">Whānau deliveries by Map</h5>
        <a href="" class="text-primary fs-5 fw-light" role="button">View List</a>
      </div>
      <!-- TAB MENU -->
      {{ navTabs.menu([{ title: 'Family_1', id: 'familiy1', status: 'active'}, { title: 'Family_2', id: 'familiy2'},
      {title: 'Family_3', id: 'familiy3'} ]) }}
      <div class="tab-content mt-4">
        <div class="tab-pane fade show active" id="all-kaimahi" role="tabpanel" aria-labelledby="all-kaimahi-tab">
          <!-- MAP CARDS -->
          <img src="../assets/images/maps-all.webp" alt="maps" class="img-fluid rounded shadow" />
          <!-- PAGINATION -->
          {{ pagination.ViewAllBtn() }}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %} {% block script %}
<script>
  $(document).ready(function () {
    // ADD CLASS ACTIVE TO Whānau SIDEBAR
    $('#sidebar-item > .nav-link')
      .filter(function () {
        return $(this).text() === 'Deliveries';
      })
      .addClass('active');
    $('textarea[name="address"]').text('Ntowers, Block B1, Zemin 21,Daire 34513 Esenyurt/İstanbul, Turkey');
  });
</script>
{% endblock %}
