{% extends "layout.html" %} {% set pageTitle = 'Edit Profile' %} {% set cssFiles = './assets/css/style.css' %} {% block
content %}

<div class="grid-container">
  <!-- HEADER -->
  {% include '../components/header.html' %}

  <!-- SIBEDAR -->
  {% include '../components/sidebar.html' %}

  <main class="bd-main">
    <div class="container-fluid">
      <div class="d-flex my-6 mx-3 mx-md-4 mx-lg-5">
        <div class="d-none d-md-block col col-md-6 bg-success order-2">
          <div class="d-flex align-items-center justify-content-center h-100">
            <img src="./assets/images/logo.webp" alt="logo" class="img-fluid p-3" />
          </div>
        </div>
        <div class="form-container col-12 col-md-6 bg-white order-1">
          <h1 class="title mb-2">Reset password</h1>
          <p class="subtitle mb-4 mb-lg-5 text-secondary fw-light">
            Please enter your registered email to reset <br class="d-none d-md-block" />
            your password
          </p>

          <form action="">
            <div class="form-floating mb-5">
              <input name="email" type="email" class="form-control" id="email" placeholder="Email" />
              <label for="email">Email</label>
            </div>
            <button type="submit" class="btn btn-lg btn-primary text-white py-3 w-100 mb-5">Send New Password</button>
          </form>
          <div class="text-center">
            <div class="mb-3">
              <a href="/kaimahi/signup.html" class="fw-bold"><u> Create account</u></a>
            </div>
            <p class="fw-light fs-14 fs-md-16">
              Already have an account? <a href="/kaimahi/signin.html" class="fw-bold"><u>Login</u></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

{% endblock %} {% block script %}
<script>
  $(document).ready(function () {});
</script>
{% endblock %}
