{% extends "layout.html" %} {% set pageTitle = 'Forgot Password' %} {% block content %}

<div class="main">
  {% include '../components/navbar-public.html' %}
  <div class="sign-in-form">
    <div class="logo-wrapper">
      <img src="./assets/images/logo-light.webp" width="345" height="61" alt="kaimahi-logo" />
    </div>
    <div class="d-flex align-items-center mb-4">
      <a href="./signin.html">
        <img src="./assets/icons/icon-back.svg" alt="back icon" class="d-none d-lg-block" />
      </a>
      <ul class="nav nav-tabs ms-0 ms-lg-3 mb-0">
        <li class="nav-item">
          <a href="" class="nav-link active">
            <h4 class="title">Forgot Password?</h4>
          </a>
        </li>
      </ul>
    </div>
    <p class="describe">Please enter your registered email to reset your password</p>
    <div class="tab-content" id="tabSignInContent">
      <div
        class="tab-pane fade show active"
        id="signin"
        role="tabpanel"
        aria-labelledby="signin-tab"
      >
        <form action="#" class="d-flex flex-column">
          <label for="floatingInput">
            <div class="input-icon">
              <img src="./assets/icons/icon-email.svg" class="icon-wrapper" alt="" />
              <div class="form-floating">
                <input
                  class="form-control border-0"
                  name="email"
                  type="email"
                  id="floatingInput"
                  placeholder="name@example.com"
                  required
                />
                <label class="form-label" for="floatingInput">Email </label>
              </div>
            </div>
          </label>

          <button
            class="btn btn-dark sign-in"
            data-bs-toggle="modal"
            data-bs-target="#noticeModal"
            type="button"
          >
            Send New Password
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Notice Modal -->
<div
  class="modal fade"
  id="noticeModal"
  tabindex="-1"
  aria-labelledby="Notice Modal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body d-flex flex-column align-items-center">
        <img src="./assets/icons/icon-check.svg" alt="check icon" class="icon-check" />
        <h5>Notice</h5>
        <p>The password has been sent to the entered email</p>
        <a class="btn btn-dark w-100" role="button" href="./signin.html">Sign In</a>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $("a.nav-link:contains('Forgot Password')").addClass("active");
  });
</script>
{% endblock %}
