{% extends "layout-no-sidebar.html" %} {% set pageTitle = 'Forgot Password' %} {% set cssFiles =
'./assets/css/style.css' %} {% block content %}

<main>
  <div class="container-fluid">
    <div class="d-flex my-6 mx-3 mx-md-4 mx-lg-5">
      <div class="d-none d-md-block col col-md-6 bg-brand-900 order-2">
        <div class="d-flex align-items-center justify-content-center h-100">
          <img src="./assets/images/logo-dark.webp" alt="logo" class="img-fluid p-3" />
        </div>
      </div>
      <div class="form-container col-12 col-md-6 bg-white order-1">
        <h1 class="title mb-2">Reset password</h1>
        <p class="subtitle mb-4 mb-lg-5 text-secondary fw-light">
          Please enter your registered email to reset <br class="d-none d-md-block" />
          your password
        </p>

        <form action="">
          <div class="form-floating mb-5">
            <input name="email" type="email" class="form-control" id="email" placeholder="Email" />
            <label for="email">Email</label>
          </div>
          <button type="submit" class="btn btn-lg btn-primary py-3 w-100 mb-5">Send New Password</button>
        </form>
        <div class="text-center">
          <div class="mb-3">
            <a href="signup.html" class="fw-bold"><u> Create account</u></a>
          </div>
          <p class="fw-light fs-4 fs-md-3">
            Already have an account? <a href="signin.html" class="fw-bold"><u>Login</u></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Notice Modal -->
<div class="modal fade" id="noticeModal" tabindex="-1" aria-labelledby="Notice Modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body d-flex flex-column align-items-center">
        <img src="../assets/icons/icon-check.svg" alt="check icon" class="icon-check" />
        <h5>Notice</h5>
        <p>The password has been sent to the entered email</p>
        <a class="btn btn-dark w-100" role="button" href="signin.html">Sign In</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
