{% extends "layout-no-sidebar.html" %} {% set pageTitle = 'KaiMahi Content' %} {% set cssFiles =
'./assets/css/style.css' %} {% block content %}

<div class="container">
  <header class="mb-5">
    <img src="./assets/images/logo-light.webp" alt="Logo KaiMahi" class="img-fluid" />
  </header>
  <div class="main">
    <h4 class="h4 fw-bolder">Content</h4>
    <h5 class="h5 mt-4 mb-1">All Roles</h5>
    <div class="nav flex-column ms-3 gap-1">
      <a class="text-primary" href="signin.html">Sign In</a>
      <a class="text-primary" href="signup.html">Sign Up</a>
      <a class="text-primary" href="signin.html">Forgot Password</a>
      <a class="text-primary" href="admin/edit-profile.html">Change Profile</a>
      <a class="text-primary" href="admin/whanau-comms.html">Whānau Comms</a>
      <a class="text-primary" href="admin/group-chat.html">Group Chat</a>
      <a class="text-primary" href="admin/notifications.html">Notification</a>
    </div>
    <h5 class="h5 mt-4 mb-1">Admin</h5>
    <div class="nav flex-column ms-3 gap-1">
      <a class="text-primary" href="admin/">Home Page</a>
      <a class="text-primary" href="admin/whanau.html">Whānau</a>
      <a class="text-primary" href="admin/kaimahi.html">Kaimahi</a>
      <a class="text-primary" href="admin/deliveries.html">Deliveries</a>
      <a class="text-primary" href="admin/event-page.html">Event Page</a>
    </div>

    <h5 class="h5 mt-4 mb-1">Kaimahi</h5>
    <div class="nav flex-column ms-3 gap-1">
      <a class="text-primary" href="kaimahi/">Home Page</a>
      <a class="text-primary" href="kaimahi/whanau.html">Whānau</a>
      <a class="text-primary" href="kaimahi/deliveries.html">Deliveries</a>
    </div>
  </div>
</div>
{% endblock %}
