{% extends "layout.html" %} {% set pageTitle = 'Whānau Comms' %} {% set cssFiles = './assets/css/style.css' %} {% block
content %} {% import '../components/input-search.html' as inputSearch %}

<div class="grid-container">
  <!-- HEADER -->
  {% include '../components/header.html' %}

  <!-- SIBEDAR -->
  {% include '../components/sidebar.html' %}

  <main class="bd-main">
    <!-- PAGE TITLE -->
    <h1 class="page-title">Whānau Comms</h1>
    <div class="card">
      <div class="card-body">
        <!-- TABS -->
        <div class="nav nav-tabs mb-4 mb-md-5" id="nav-tab" role="tablist">
          <a
            class="nav-link active"
            id="nav-create-message-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-create-message"
            type="button"
            role="tab"
            aria-controls="nav-create-message"
            aria-selected="true"
          >
            <i class="fa-solid fa-pen me-1"></i>Create Message</a
          >
          <a
            class="nav-link"
            id="nav-history-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-history"
            type="button"
            role="tab"
            aria-controls="nav-history"
            aria-selected="true"
          >
            <i class="fa-solid fa-clock-rotate-left me-1"></i>Message History</a
          >
        </div>

        <div class="tab-content" id="nav-tabContent">
          <!-- TAB create-message -->
          <div
            class="tab-pane fade show active"
            id="nav-create-message"
            role="tabpanel"
            aria-labelledby="nav-create-message-tab"
          >
            <!-- STEPS MENU -->
            <div class="steps-menu mb-5">
              <div id="step1" class="step-item">
                <div class="step-number">1</div>
                <div class="step-title">Message Detail</div>
              </div>
              <div id="step2" class="step-item active">
                <div class="step-number">2</div>
                <div class="step-title">Select Whānau</div>
              </div>
            </div>

            <div id="messageDetail" class="collapse">
              <h6 class="h6 fw-bolder ms-2">Message Detail</h6>
              <hr class="my-2" />

              <div class="card align-items-center">
                <div class="card-body col-12 col-sm-6 col-lg-7 col-xl-5">
                  <div class="card bg-light mb-4 mb-md-3">
                    <div class="card-body">
                      <d class="d-flex">
                        <div class="col-auto icon icon-xl bg-primary"><i class="fa-solid fa-clock"></i></div>
                        <div class="col ms-2 mt-1">
                          <h5 class="h5">Time</h5>
                          <p class="fs-6 fw-light text-dark">04:00pm</p>
                        </div>
                      </d>
                    </div>
                  </div>
                  <div class="card bg-light mb-4 mb-md-3">
                    <div class="card-body">
                      <d class="d-flex">
                        <div class="col-auto icon icon-xl bg-primary"><i class="fa-solid fa-calendar-days"></i></div>
                        <div class="col ms-2 mt-1">
                          <h5 class="h5">Date</h5>
                          <p class="fs-6 fw-light text-dark">17-08-2022</p>
                        </div>
                      </d>
                    </div>
                  </div>
                  <div class="card bg-light mb-5 mb-md-4">
                    <div class="card-body">
                      <d class="d-flex">
                        <div class="col-auto icon icon-xl bg-primary"><i class="fa-solid fa-comment-dots"></i></div>
                        <div class="col ms-2 mt-1">
                          <h5 class="h5">Message</h5>
                          <p class="fs-6 fw-light text-dark">
                            Lorem Ipsum Is A Placeholder Text Commonly Used To Demonstrate The Visual Form Of A Document
                            Or A
                          </p>
                        </div>
                      </d>
                    </div>
                  </div>
                  <a
                    class="btn btn-primary btn-lg w-100 py-3"
                    role="button"
                    data-bs-toggle="collapse"
                    href="#selectWhanau"
                    >Add Message</a
                  >
                </div>
              </div>
            </div>

            <div id="selectWhanau" class="collapse show">
              <a id="backMessageDetail" role="button" class="d-flex align-items-center fw-bolder">
                <i class="icon-back fa-solid fa-angle-left me-2"></i>
                Select Whānau
              </a>
              <hr class="my-2" />

              <div class="card align-items-center">
                <div class="card-body col-12 col-sm-6 col-lg-7 col-xl-5">
                  <div class="card bg-light mb-4 mb-md-3">
                    <div class="card-body">
                      <d class="d-flex">
                        <div class="col-auto icon icon-xl bg-primary"><i class="fa-solid fa-clock"></i></div>
                        <div class="col ms-2 mt-1">
                          <h5 class="h5">Time</h5>
                          <p class="fs-6 fw-light text-dark">04:00pm</p>
                        </div>
                      </d>
                    </div>
                  </div>
                  <div class="card bg-light mb-4 mb-md-3">
                    <div class="card-body">
                      <d class="d-flex">
                        <div class="col-auto icon icon-xl bg-primary"><i class="fa-solid fa-calendar-days"></i></div>
                        <div class="col ms-2 mt-1">
                          <h5 class="h5">Date</h5>
                          <p class="fs-6 fw-light text-dark">17-08-2022</p>
                        </div>
                      </d>
                    </div>
                  </div>
                  <div class="card bg-light mb-5 mb-md-4">
                    <div class="card-body">
                      <d class="d-flex">
                        <div class="col-auto icon icon-xl bg-primary"><i class="fa-solid fa-comment-dots"></i></div>
                        <div class="col ms-2 mt-1">
                          <h5 class="h5">Message</h5>
                          <p class="fs-6 fw-light text-dark">
                            Lorem Ipsum Is A Placeholder Text Commonly Used To Demonstrate The Visual Form Of A Document
                            Or A
                          </p>
                        </div>
                      </d>
                    </div>
                  </div>
                  <a class="btn btn-primary btn-lg w-100 py-3">Add Message</a>
                </div>
              </div>
            </div>
          </div>
          <!-- TAB HISTORY MESSAGE -->
          <div class="tab-pane fade" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab">
            <a role="button" class="d-flex align-items-center fw-bolder">
              <h6 class="h6 fw-bolder">Message History</h6>
            </a>
            <hr class="my-2" />
            <div class="d-flex justify-content-end">
              <div class="col-10 col-sm-auto">{{ inputSearch.input('Look message history') }}</div>
            </div>
            <div class="table-responsive-lg mt-4">
              <table class="table table-bordered">
                <thead class="table-light">
                  <tr>
                    <th scope="col">Message</th>
                    <th scope="col">Recepients</th>
                    <th scope="col">Message Time</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Lorem Ipsum Is A Placeholder Text Commonly Used To Demonstrate The Visual Form Of A Document Or A
                    </td>
                    <td>2</td>
                    <td>17-08-2022, 04:00pm</td>
                    <td>
                      <a href="" class="text-primary">See Details</a>
                      <a href="" class="text-danger">Delete</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row align-items-center">
              <div class="col">
                <p class="text-secondary fs-6 fw-light">Showing 1 to 1 of 1 entries</p>
              </div>
              <div class="col-auto">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- MODAL -->
  <!-- RESEND MODAL -->
  <div class="modal" id="resendModal" tabindex="-1" aria-labelledby="resendModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Resend Email Confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="text-secondary fw-light mb-4 mb-md-5">
            Hi, Clib Jackson, this will resend email confirmation
            <span class="text-black fw-bold"> clibjackson@gmail.com </span>
          </p>
          <button type="button" class="btn btn-primary me-3">Resend</button>
          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block script %}
<script>
  $(document).ready(function () {
    $(".nav-link:contains('Whānau Comms')").addClass("active");

    $("a:contains(Add Message)").click(function () {
      $("#messageDetail").removeClass("show");
      $("#step1").removeClass("active");
      $("#step2").addClass("active");
    });

    $("#backMessageDetail").click(function () {
      $("#messageDetail").addClass("show");
      $("#selectWhanau").removeClass("show");
      $("#step2").removeClass("active");
      $("#step1").addClass("active");
    });
  });
</script>
{% endblock %}
