{% extends "layout-admin.html" %} {% set pageTitle = 'Deliveries' %} {% set cssFiles = '../assets/css/style.css' %} {%
import '../components/input.html' as input %} {% import '../components/buttons.html' as button %} {% import
'../components/cards.html' as cards %} {% import '../components/pagination.html' as pagination %} {% import
'../components/nav-tabs.html' as navTabs %} {% import '../components/kaimahi-item.html' as kaimahiItem %} {% block
content %}
<main class="bd-main">
  <div class="d-flex align-items-center">
    <button
      type="button"
      class="btn btn-gray-200 flex-center p-0 rounded-1 icon-lg"
      data-bs-toggle="collapse"
      data-bs-target=".collapse-create"
    >
      <i class="fa-solid fa-angle-left fs-5"></i>
    </button>
    <h6 class="h6 fw-bolder ms-2">Create Delivery List</h6>
  </div>
  <hr class="my-2" />

  <div class="card align-items-center">
    <div class="card-body col-12 col-xl-8">
      <!-- LIST ADD WHANAU -->
      <div class="card border mb-4">
        <div class="card-header border-bottom bg-white">
          <h6 class="h6">Add Whānau</h6>
        </div>
        <div class="card-body">
          <div class="selectedWhanau row g-2"></div>
        </div>
      </div>
      <!-- SELECT WHANAU -->
      <div class="card border">
        <div class="card-body">
          <div class="whanauList mb-4"></div>
          <button
            id="sendMessage"
            class="btn btn-secondary w-100"
            data-bs-toggle="modal"
            data-bs-target="#successModal"
            disabled
          >
            Create Delivery List
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %} {% block script %}
<script>
  // Data whanau
  let dataWhanau = [
    {
      id: 0,
      avatar: 'profile-1.webp',
      name: 'Deni',
      address: 'Ntowers, Block B1, Zemin 21, \n Daire  34513 Esenyurt/İstanbul, Turkey',
    },
    {
      id: 1,
      avatar: 'profile-2.webp',
      name: 'Deni Sugiarto',
      address: 'Ntowers, Block B1, Zemin 21, Daire  34513 Esenyurt/İstanbul, Turkey',
    },
    {
      id: 2,
      avatar: 'profile-1.webp',
      name: 'Ahmed Al Aklouk',
      address: 'Ntowers, Block B1, Zemin 21, Daire  34513 Esenyurt/İstanbul, Turkey',
    },
    {
      id: 3,
      avatar: 'profile-1.webp',
      name: 'Ahmed Al Aklouk',
      address: 'Ntowers, Block B1, Zemin 21, Daire  34513 Esenyurt/İstanbul, Turkey',
    },
    {
      id: 4,
      avatar: 'profile-1.webp',
      name: 'Ahmed Al Aklouk',
      address: 'Ntowers, Block B1, Zemin 21, Daire  34513 Esenyurt/İstanbul, Turkey',
    },
    {
      id: 5,
      avatar: 'profile-1.webp',
      name: 'Ahmed Al Aklouk',
      address: 'Ntowers, Block B1, Zemin 21, Daire  34513 Esenyurt/İstanbul, Turkey',
    },
    {
      id: 6,
      avatar: 'profile-1.webp',
      name: 'Ahmed Al Aklouk',
      address: 'Ntowers, Block B1, Zemin 21, Daire  34513 Esenyurt/İstanbul, Turkey',
    },
    {
      id: 7,
      avatar: 'profile-1.webp',
      name: 'Ahmed Al Aklouk',
      address: 'Ntowers, Block B1, Zemin 21, Daire  34513 Esenyurt/İstanbul, Turkey',
    },
    {
      id: 8,
      avatar: 'profile-1.webp',
      name: 'Ahmed Al Aklouk',
      address: 'Ntowers, Block B1, Zemin 21, Daire  34513 Esenyurt/İstanbul, Turkey',
    },
    {
      id: 9,
      avatar: 'profile-1.webp',
      name: 'Ahmed Al Aklouk',
      address: 'Ntowers, Block B1, Zemin 21, Daire  34513 Esenyurt/İstanbul, Turkey',
    },
  ];

  let dataSelectedWhanau = [];

  // WHANAU MAP
  function listAllWhanau() {
    $('.whanauList').prepend(
      jQuery.map(dataWhanau, function (item) {
        return `<div class='d-flex border-bottom p-3 align-items-center'>
                    <input id='whanau-${item.id}' type='checkbox' class='form-check-input me-2' />
                    <img src='../assets/images/${item.avatar}' alt='avatar' class='icon-lg rounded-circle me-2' />
                    <div class='col-6'>
                        <h6 class='fs-5 mb-1'>
                            ${item.name}
                        </h6>
                        <div class="d-flex align-items-start">
                            <div class="fs-6 me-1"><i class='fas fa-location-dot text-gray-dark'></i></div>
                            <h6 class='fs-6 fw-light text-gray-dark'>
                                ${item.address}
                            </h6>
                        </div>
                    </div>
                </div>`;
      })
    );
  }

  function listSelectedWhanau() {
    $('.selectedWhanau').children().remove();
    $('.selectedWhanau').prepend(
      jQuery.map(dataSelectedWhanau, function (index) {
        return `<div class='col-12 col-md-6'>
                    <div class='card small bg-light'>
                        <div class='card-body'>
                            <div class='d-flex align-items-center'>
                                <img src='../assets/images/${index.avatar}' alt='avatar' class='icon-lg rounded-circle'/>
                                <div class='d-block ms-2'>
                                    <h6 class='fs-5 mb-1'>
                                        ${index.name}
                                    </h6>
                                    <div class="d-flex align-items-center">
                                        <div class="fs-6 me-1"><i class='fas fa-location-dot text-gray-dark'></i></div>
                                        <h6 class='fs-6 fw-light text-gray-dark'>
                                            ${index.address}
                                        </h6>
                                    </div>
                                </div>
                                <div class='ms-auto'>
                                    <button id='${index.id}' class='btn btn-delete btn-danger p-0 flex-center icon-lg'>
                                        <i class='fa-solid fa-trash-alt text-white fs-5'></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          `;
      })
    );
    $('.btn-delete').click(function () {
      let id = $(this).prop('id');
      removeWhanau(id);
      listSelectedWhanau();
      removeCheck(id);
      buttonSendUpdate();
    });
  }

  //FUNCTION ADD SELECTED WHANAU
  function addWhanau(id) {
    dataSelectedWhanau.push(dataWhanau[id]);
  }

  //FUNCTION REMOVE SELECTED WHANAU
  function removeWhanau(id) {
    dataSelectedWhanau = dataSelectedWhanau.filter((item) => {
      return item.id != id;
    });
  }

  //MAKE INPUT CHECKBOX TO UNCHECK / FALSE
  function removeCheck(id) {
    let item = 'whanau-' + id;
    return $('#' + item).prop('checked', false);
  }

  //BUTTON SEND UPDATE TRIGGER
  function buttonSendUpdate() {
    if (dataSelectedWhanau.length > 0) {
      $('#sendMessage').removeClass('btn-secondary').addClass('btn-primary').attr('disabled', false);
    } else {
      $('#sendMessage').removeClass('btn-primary').addClass('btn-secondary').attr('disabled', true);
    }
  }

  $(document).ready(function () {
    // ADD CLASS ACTIVE TO Whānau SIDEBAR
    $('#sidebar-item > .nav-link')
      .filter(function () {
        return $(this).text() === 'Deliveries';
      })
      .addClass('active');
    // Load Whanau list and selected whanau
    listAllWhanau();
    listSelectedWhanau();

    //INPUT CHECKBOX WILL ADD SELECTED WHANAU WHEN CHECK AND REMOVE WHEN UNCHECK
    $('.form-check-input').click(function () {
      let id = $(this).prop('id').split('-')[1];
      if ($(this).prop('checked') == true) {
        console.log('checked');
        addWhanau(id);
        listSelectedWhanau();
      } else if ($(this).prop('checked') == false) {
        console.log('unchecked');
        removeWhanau(id);
        listSelectedWhanau();
      }
      buttonSendUpdate();
    });
  });
</script>
{% endblock %}
