{% extends "layout-admin.html" %} {% set pageTitle = 'Deliveries' %} {% set cssFiles = '../assets/css/style.css' %} {%
import '../components/input.html' as input %} {% import '../components/buttons.html' as button %} {% block
content %}
<main class="bd-main">
  <div class="d-flex align-items-center mb-5">
    {{ button.icon('angle-left', 'btn-gray-200', 'deliveries.html') }}
    <h6 class="fs-1 ms-2">Create Delivery List</h6>
  </div>

  <div class="card">
    <div class="card-body">
      <!-- Alert -->
      <div class="alert-box">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          2 whanau successfully added to shipping list
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center">
        <div class="col-12 col-xl-8">
            <!-- LIST ADD WHANAU -->
            <div class="card small border mb-4">
              <div class="card-header border-bottom bg-white">
                <h6 class="h6">Add Whānau</h6>
              </div>
              <div class="card-body">
                <div class="selectedWhanau row g-2 mh-150 overflow-auto"></div>
              </div>
            </div>
            <!-- SELECT WHANAU -->
            <div class="card border">
              <div class="card-body">
                {{ input.search('Look For Whānau', 'w-100') }}  
                <div class="whanauList mb-4 mh-300 overflow-auto"></div>
                <button
                  id="sendMessage"
                  class="btn btn-secondary w-100"
                  data-bs-toggle="modal"
                  data-bs-target="#successModal"
                  disabled
                >
                  Create Delivery List
                </button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %} {% block script %}
<script>
  // Data whanau
  let dataWhanau = [
    {
      id: 0,
      avatar: 'profile-1.webp',
      name: 'Deni',
      address: 'Ntowers, Block B1, Zemin 21, \n Daire  34513 Esenyurt/İstanbul, Turkey',
    },
    {
      id: 1,
      avatar: 'profile-2.webp',
      name: 'Deni Sugiarto',
      address: 'Ntowers, Block B1, Zemin 21, Daire  34513 Esenyurt/İstanbul, Turkey',
    },
    {
      id: 2,
      avatar: 'profile-1.webp',
      name: 'Ahmed Al Aklouk',
      address: 'Ntowers, Block B1, Zemin 21, Daire  34513 Esenyurt/İstanbul, Turkey',
    },
    {
      id: 3,
      avatar: 'profile-1.webp',
      name: 'Ahmed Al Aklouk',
      address: 'Ntowers, Block B1, Zemin 21, Daire  34513 Esenyurt/İstanbul, Turkey',
    },
    {
      id: 4,
      avatar: 'profile-1.webp',
      name: 'Ahmed Al Aklouk',
      address: 'Ntowers, Block B1, Zemin 21, Daire  34513 Esenyurt/İstanbul, Turkey',
    },
    {
      id: 5,
      avatar: 'profile-1.webp',
      name: 'Ahmed Al Aklouk',
      address: 'Ntowers, Block B1, Zemin 21, Daire  34513 Esenyurt/İstanbul, Turkey',
    },
    {
      id: 6,
      avatar: 'profile-1.webp',
      name: 'Ahmed Al Aklouk',
      address: 'Ntowers, Block B1, Zemin 21, Daire  34513 Esenyurt/İstanbul, Turkey',
    },
    {
      id: 7,
      avatar: 'profile-1.webp',
      name: 'Ahmed Al Aklouk',
      address: 'Ntowers, Block B1, Zemin 21, Daire  34513 Esenyurt/İstanbul, Turkey',
    },
    {
      id: 8,
      avatar: 'profile-1.webp',
      name: 'Ahmed Al Aklouk',
      address: 'Ntowers, Block B1, Zemin 21, Daire  34513 Esenyurt/İstanbul, Turkey',
    },
    {
      id: 9,
      avatar: 'profile-1.webp',
      name: 'Ahmed Al Aklouk',
      address: 'Ntowers, Block B1, Zemin 21, Daire  34513 Esenyurt/İstanbul, Turkey',
    },
  ];

  let dataSelectedWhanau = [];

  // WHANAU MAP
  function listAllWhanau() {
    $('.whanauList').prepend(
      jQuery.map(dataWhanau, function (item) {
        return `<div class='d-flex border-bottom p-3 align-items-start'>
                    <div class='d-flex align-items-center'>
                        <input id='whanau-${item.id}' type='checkbox' class='form-check-input me-2' />
                        <img src='../assets/images/${item.avatar}' alt='avatar' class='icon-xlg rounded-circle me-2' />
                    </div>
                    <div class='col-md-6'>
                        <h6 class='fs-5 mb-1'>
                            ${item.name}
                        </h6>
                        <div class="d-flex align-items-start">
                            <div class="fs-6 me-1 lh-1"><i class='fas fa-location-dot text-gray-dark'></i></div>
                            <h6 class='fs-6 fw-light text-gray-dark'>
                                ${item.address}
                            </h6>
                        </div>
                    </div>
                </div>`;
      })
    );
  }

  function listSelectedWhanau() {
    $('.selectedWhanau').children().remove();
    $('.selectedWhanau').prepend(
      jQuery.map(dataSelectedWhanau, function (index) {
        return `<div class='col-12 col-md-6'>
                    <div class='card small bg-light'>
                        <div class='card-body'>
                            <div class='d-flex align-items-start'>
                                <img src='../assets/images/${index.avatar}' alt='avatar' class='icon-lg rounded-circle'/>
                                <div class='d-block ms-2'>
                                    <h6 class='fs-5 mb-1'>
                                        ${index.name}
                                    </h6>
                                    <div class="d-flex align-items-start">
                                        <div class="fs-6 me-1 lh-1"><i class='fas fa-location-dot text-gray-dark'></i></div>
                                        <h6 class='fs-6 fw-light text-gray-dark'>
                                            ${index.address}
                                        </h6>
                                    </div>
                                </div>
                                <div class='ms-auto'>
                                    <button id='${index.id}' class='btn btn-delete btn-danger p-0 flex-center icon-lg'>
                                        <i class='fa-solid fa-trash-alt text-white fs-5'></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          `;
      })
    );
    $('.btn-delete').click(function () {
      let id = $(this).prop('id');
      removeWhanau(id);
      listSelectedWhanau();
      removeCheck(id);
      buttonSendUpdate();
    });
  }

  //FUNCTION ADD SELECTED WHANAU
  function addWhanau(id) {
    dataSelectedWhanau.push(dataWhanau[id]);
  }

  //FUNCTION REMOVE SELECTED WHANAU
  function removeWhanau(id) {
    dataSelectedWhanau = dataSelectedWhanau.filter((item) => {
      return item.id != id;
    });
  }

  //MAKE INPUT CHECKBOX TO UNCHECK / FALSE
  function removeCheck(id) {
    let item = 'whanau-' + id;
    return $('#' + item).prop('checked', false);
  }

  //BUTTON SEND UPDATE TRIGGER
  function buttonSendUpdate() {
    if (dataSelectedWhanau.length > 0) {
      $('#sendMessage').removeClass('btn-secondary').addClass('btn-primary').attr('disabled', false);
    } else {
      $('#sendMessage').removeClass('btn-primary').addClass('btn-secondary').attr('disabled', true);
    }
  }

  $(document).ready(function () {
    // ADD CLASS ACTIVE TO Whānau SIDEBAR
    $('#sidebar-item > .nav-link')
      .filter(function () {
        return $(this).text() === 'Deliveries';
      })
      .addClass('active');
    // Load Whanau list and selected whanau
    listAllWhanau();
    listSelectedWhanau();

    //INPUT CHECKBOX WILL ADD SELECTED WHANAU WHEN CHECK AND REMOVE WHEN UNCHECK
    $('.form-check-input').click(function () {
      let id = $(this).prop('id').split('-')[1];
      if ($(this).prop('checked') == true) {
        console.log('checked');
        addWhanau(id);
        listSelectedWhanau();
      } else if ($(this).prop('checked') == false) {
        console.log('unchecked');
        removeWhanau(id);
        listSelectedWhanau();
      }
      buttonSendUpdate();
    });
  });
</script>
{% endblock %}
