{% extends "layout-admin.html" %} {% set pageTitle = 'Home' %} {% set cssFiles = '../assets/css/style.css' %} {% import
'../components/input-search.html' as inputSearch %} {% import '../components/buttons.html' as button %} {% import
'../components/pagination.html' as pagination %} {% import '../components/box-item.html' as boxItem %} {% import
'../components/kaimahi-item.html' as kaimahiItem %} {% import '../components/whanau-item.html' as whanauItem %} {% block
content %}

<main class="bd-main">
  <!-- PAGE TITLE -->
  <h1 class="page-title text-primary"><span class="text-black fw-light">Welcome back, </span>Ahmed</h1>
  <!-- CARDS -->
  {{ boxItem.info([ { icon: 'user', value: 26539, name: 'All Kaimahi'}, { icon: 'user-group', value: 26539, name: 'All
  Whānau'}, { icon: 'truck-fast', value: 26539, name: 'Current Deliveries'}, { icon: 'truck', value: 26539, name:
  'Completed Deliveries'} ]) }}
  <div class="row gx-5">
    <div class="col-12 col-lg-6">
      {{ kaimahiItem.section([ { avatar: 'A', name: 'Ahmed Al Aklouk', delivery:
      '17-01-2022'}, { avatar: 'A', name: 'Ahmed Al Aklouk', delivery: '17-01-2022'}, {
      avatar: 'A', name: 'Ahmed Al Aklouk', delivery: '17-01-2022'}, { avatar:
      'A', name: 'Ahmed Al Aklouk', delivery: '17-01-2022'}, { avatar:
      'A', name: 'Ahmed Al Aklouk', delivery: '17-01-2022'}, { avatar:
      'A', name: 'Ahmed Al Aklouk', delivery: '17-01-2022'}, { avatar:
      'A', name: 'Ahmed Al Aklouk', delivery: '17-01-2022'} ]) }}
    </div>
    <div class="col-12 col-lg-6">
      {{ whanauItem.section([ {id: 1, dest_name: 'Jackson', courier_name: 'Ahmed Al Aklouk', delivery: '17-01-2022'}, {id: 2, dest_name: 'Jackson', courier_name: 'Ahmed Al Aklouk', delivery: '17-01-2022'} ]) }}
    </div>
  </div>
</main>

<!-- MODAL -->
<!-- RESEND MODAL -->
<div class="modal" id="resendModal" tabindex="-1" aria-labelledby="resendModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Resend Email Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-secondary fw-light mb-4 mb-md-5">
          Hi, Clib Jackson, this will resend email confirmation
          <span class="text-black fw-bold"> clibjackson@gmail.com </span>
        </p>
        <button type="button" class="btn btn-primary me-3">Resend</button>
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block script %}
<script>
    let data = [
    {
      id: 1,
      latitude: -36.88232,
      longitude: 174.75179,
    }
  ];
  let latAvg = -0.0015,
    longAvg = 0;

  let markingIcon = L.icon({
    iconUrl: '../assets/icons/icon-pin.svg',
    iconSize: [54, 68],
    iconAnchor: [27, 6],
  });

  function setCenterMap(data) {
    data.map(function (value, index) {
      latAvg += value.latitude;
      longAvg += value.longitude;
    });
    latAvg /= data.length;
    longAvg /= data.length;
  }

  function marking(data, id) {
    data.map(function (value, index) {
      let marker = L.marker([value.latitude, value.longitude], { icon: markingIcon }).addTo(id);
    });
  }

  setCenterMap(data);
  let map1 = L.map('map1', {
    zoomControl: false,
    doubleClickZoom: false,
    dragging: false
  }).setView([latAvg, longAvg], 16.3);
  
  let map2 = L.map('map2', {
    zoomControl: false,
    doubleClickZoom: false,
    dragging: false
  }).setView([latAvg, longAvg], 16.3);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 17,
    attribution: '© OpenStreetMap',
  }).addTo(map1);
  
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 17,
    attribution: '© OpenStreetMap',
  }).addTo(map2);

  marking(data, map1);
  marking(data, map2);
  $(document).ready(function () {
    $(".nav-link:contains('Home')").addClass('active');

    // SEARCH BUTTON
    //Show Input Button when click Button search
    $('#kaimahi-button-search').click(function () {
      //replace class in id button search from d-block to d-none
      $(this).removeClass('d-block').addClass('d-none');

      //replace class in id button search from d-none to d-block
      $('#kaimahi-input-search').removeClass('d-none').addClass('d-block');
    });
  });

  //Hide Input Search when click
  $(document).mouseup(function (e) {
    let inputSearch = $('#kaimahi-search');
    let iconSearch = $('#kaimahi-icon-search');

    // click outside input search
    if (!inputSearch.is(e.target) && !iconSearch.is(e.target)) {
      $('#kaimahi-button-search').removeClass('d-none').addClass('d-block');
      $('#kaimahi-input-search').removeClass('d-block').addClass('d-none');
    }
  });
</script>
{% endblock %}
