{% extends "layout.html" %} {% set pageTitle = 'Home' %} {% set cssFiles = '../assets/css/custom.css' %} {% block
content %}

<div class="main bg-body">
  {% include '../components/sidebar.html' %}
  <div class="px-5 py-4">
    <h3 class="mb-4">Welcome back, <span class="text-primary">AHMED</span></h3>
    <form class="form-search mb-2" action="">
      <input class="input-search" type="text" name="search" placeholder="Search For Anything Here" />
      <img src="../assets/icons/icon-search.svg" alt="icon search" class="icon-search" />
    </form>
    <div class="row g-2 mb-2">
      <div class="col-6 col-lg-3">
        <a href="#" role="button" class="btn btn-light w-100">Create Message</a>
      </div>
      <div class="col-6 col-lg-3">
        <a href="#" role="button" class="btn btn-primary w-100">Create Notification</a>
      </div>
    </div>
    <section id="info">
      <div class="row g-2 mb-5">
        <div class="col-6 col-lg-3">
          <div class="card-info border border-primary">
            <img src="../assets/icons/icon-user.svg" alt="icon user" class="card-icon" />
            <div class="card-text">
              <p class="text-secondary">All KaiMahi</p>
              <p>26539</p>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="card-info">
            <img src="../assets/icons/icon-whanau.svg" alt="icon whanau" class="card-icon" />
            <div class="card-text">
              <p>All Whānau</p>
              <p>26539</p>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="card-info">
            <img src="../assets/icons/icon-deliveries.svg" alt="" class="card-icon" />
            <div class="card-text">
              <p>Current Deliveries</p>
              <p>26539</p>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="card-info">
            <img src="../assets/icons/icon-complete-deliveries.svg" alt="" class="card-icon" />
            <div class="card-text">
              <p>Complete Deliveries</p>
              <p>26539</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="content">
      <ul class="nav nav-tabs" id="nav-tabs" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link"
            id="nav-kaimahi-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-kaimahi"
            role="button"
            aria-controls="nav-kaimahi"
            aria-selected="true"
          >
            Latest KaiMahi
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            id="nav-whanau-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-whanau"
            role="button"
            aria-controls="nav-whanau"
            aria-selected="false"
          >
            Latest Whānau</a
          >
        </li>
      </ul>

      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade" id="nav-kaimahi" role="tabpanel" aria-labelledby="nav-kaimahi-tab">
          {% include '../components/kaimahi-item.html' %} {% include '../components/kaimahi-item.html' %} {% include
          '../components/kaimahi-item.html' %} {% include '../components/kaimahi-item.html' %}
        </div>
        <div class="tab-pane fade show active" id="nav-whanau" role="tabpanel" aria-labelledby="nav-whanau-tab"></div>
      </div>
    </section>
  </div>
</div>
<script>
  $(document).ready(function () {
    $("a.nav-link:contains('Home')").addClass("active");
  });
</script>
{% endblock %}
