{% extends "layout-pages.html" %} {% set pageTitle = 'Whānau Comms' %} {% set cssFiles = '../assets/css/style.css' %} {%
block content %} {% import '../components/input-search.html' as inputSearch %} {% import '../components/input.html' as
input %} {% import '../components/buttons.html' as button %} {% import '../components/modal.html' as modal %} {% import
'../components/pagination.html' as pagination %}
<main class="bd-main">
  <!-- PAGE TITLE -->
  <h1 class="page-title">Whānau Comms</h1>
  <div class="card">
    <div class="card-body">
      <!-- TABS -->
      <div class="nav nav-tabs mb-4 mb-md-5" id="nav-tab" role="tablist">
        <a
          class="col-auto nav-link active"
          id="nav-create-message-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-create-message"
          type="button"
          role="tab"
          aria-controls="nav-create-message"
          aria-selected="true"
        >
          <i class="fa-solid fa-pen me-1"></i>Create Message
        </a>
        <a
          class="col-auto nav-link"
          id="nav-history-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-history"
          type="button"
          role="tab"
          aria-controls="nav-history"
          aria-selected="true"
        >
          <i class="fa-solid fa-clock-rotate-left me-1"></i>Message History
        </a>
      </div>

      <div class="tab-content" id="nav-tabContent">
        <!-- TAB create-message -->
        <div
          class="tab-pane fade show active"
          id="nav-create-message"
          role="tabpanel"
          aria-labelledby="nav-create-message-tab"
        >
          <!-- STEPS MENU -->
          <div class="steps-menu mb-5">
            <div id="step1" class="step-item active">
              <div class="step-number">1</div>
              <div class="step-title">Message Detail</div>
            </div>
            <div id="step2" class="step-item">
              <div class="step-number">2</div>
              <div class="step-title">Select Whānau</div>
            </div>
          </div>

          <div id="messageDetail" class="collapse show">
            <h6 class="h6 fw-bolder ms-2">Message Detail</h6>
            <hr class="my-2" />

            <div class="card align-items-center">
              <div class="card-body col-12 col-sm-6 col-lg-7 col-xl-5">
                {{ input.withIcon('fa-solid fa-clock', 'Time', 'time', '', 'time') }} {{ input.withIcon('fa-solid
                fa-calendar-days', 'Date', 'date', '', 'date') }} {{ input.withIconTextArea('fa-comment-dots',
                'Message', 'message', '', 'text') }}
                <button type="submit" class="btn btn-primary btn-lg w-100 py-3">Add Message</button>
              </div>
            </div>
          </div>

          <div id="selectWhanau" class="collapse">
            <div class="d-flex align-items-center">
              {{ button.icon('angle-left', 'bg-light', '#', 'backMessageDetail') }}
              <h6 class="h6 ms-2">Select Whānau</h6>
              <button class="btn btn-sm btn-outline-primary ms-auto">Bulk Upload</button>
            </div>
            <hr class="my-2" />

            <div class="card align-items-center">
              <div class="card-body col-12 col-xl-8">
                <!-- LIST ADD WHANAU -->
                <div class="card border mb-4">
                  <div class="card-header border-bottom bg-white">
                    <h6 class="h6">Add Whānau</h6>
                  </div>
                  <div class="card-body">
                    <div id="addWhanau" class="row g-2"></div>
                  </div>
                </div>
                <!-- SELECT WHANAU -->
                <div class="card border">
                  <div class="card-body">
                    {{ inputSearch.input('Look For Whānau', 'w-100') }}
                    <div id="whanau" class="mb-4"></div>
                    <button
                      id="sendMessage"
                      class="btn btn-secondary w-100"
                      data-bs-toggle="modal"
                      data-bs-target="#successModal"
                      disabled
                    >
                      Send Message
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- TAB HISTORY MESSAGE -->
        <div class="tab-pane fade" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab">
          <div id="messageHistory" class="collapse show">
            <h6 class="h6 fw-bolder">Message History</h6>
            <hr class="my-2" />
            <div class="d-flex justify-content-end">
              <div class="col-11 col-sm-auto">{{ inputSearch.input('Look message history') }}</div>
            </div>
            <div class="table-responsive mt-4">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="col-5 col-lg-6" scope="col">Message</th>
                    <th class="col-1" scope="col">Recepients</th>
                    <th class="col-3 col-lg-2" scope="col">Message Time</th>
                    <th class="col-3 col-lg-2" scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr id="tableRow">
                    <td>
                      Lorem Ipsum Is A Placeholder Text Commonly Used To Demonstrate The Visual Form Of A Document Or A
                    </td>
                    <td>2</td>
                    <td>17-08-2022, 04:00pm</td>
                    <td class="fw-bold">
                      <a id="seeDetailButton" role="button" class="text-primary me-2">See Details</a>
                      <a data-bs-toggle="modal" data-bs-target="#deleteMessageModal" role="button" class="text-danger"
                        >Delete</a
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- LABEL ENTRIES AND PAGINATION -->
            <div class="row align-items-center">
              <div class="col">
                <p class="text-secondary fs-6 fw-light">Showing 1 to 1 of 1 entries</p>
              </div>
              <div class="col-auto">{{ pagination.default() }}</div>
            </div>
          </div>
          <div id="messageHistoryDetail" class="collapse">
            <div class="d-flex align-items-center">
              {{ button.icon('angle-left', 'bg-light', '', 'backMessageHistoryDetail') }}
              <h6 class="h6 ms-2">Message History Details</h6>
            </div>
            <hr class="mb-5 mt-3" />
            <h6 class="h6 mb-5">Message Time : <span class="fs-5 text-secondary">17-08-2022, 04:00pm</span></h6>
            <h6 class="h6 mb-2">Message</h6>
            <div class="d-flex mb-4">
              <div class="col-8">
                <textarea class="form-control bg-light text-dark fw-light fs-6 border-0" rows="5">
Lorem Ipsum Is A Placeholder Text Commonly Used To Demonstrate The  Visual Form Of A Document Or A</textarea
                >
              </div>
            </div>
            <!-- RECIPIENTS -->
            <h6 class="h6 mb-2">Recipients</h6>
            <div id="listRecipients" class="row g-3 g-md-2 g-xl-4"></div>
            <div class="row mt-4">
              <div class="col">
                <a id="showAllRecipients" role="button" class="text-primary fw-light"
                  >Show <span id="qtyRecipients">1</span> more</a
                >
              </div>
              <div class="col-auto">{{ pagination.default() }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{{ modal.success('successModal' ,'The message has been sent to admin for review', '#') }} {{ modal.delete('Message',
'Message') }} {% endblock %} {% block script %}
<script>
  $(document).ready(function () {
    // ADD CLASS ACTIVE TO Whānau Comms SIDEBAR
    $(".nav-link:contains('Whānau Comms')").addClass('active');

    //CREATE MESSAGE TO STEP 2
    $('button:contains(Add Message)').click(function () {
      $('#messageDetail').removeClass('show');
      $('#selectWhanau').addClass('show');
      $('#step1').removeClass('active');
      $('#step2').addClass('active');
    });

    //CREATE MESSAGE BACK TO STEP 1
    $('#backMessageDetail').click(function () {
      $('#messageDetail').addClass('show');
      $('#selectWhanau').removeClass('show');
      $('#step2').removeClass('active');
      $('#step1').addClass('active');
    });

    // TIME AND DATE
    var now = new Date();
    function addZero(value) {
      if (value < 10) {
        return '0' + value;
      }

      return value;
    }
    let day = addZero(now.getDate());
    let month = addZero(now.getMonth());
    let year = now.getFullYear();
    let date = year + '-' + month + '-' + day;
    $('#time').val(now.toLocaleString('en-US', { hour: '2-digit', minute: '2-digit', hour12: false }));
    $('#date').val(date);

    let message = 'Lorem Ipsum Is A Placeholder Text Commonly Used To Demonstrate The Visual Form Of A Document Or A';
    $('#message').val(message);

    // WHANAU
    let whanau = [
      { id: 0, avatar: 'profile-1.webp', name: 'Deni', lastDelivery: '17-01-2022' },
      { id: 1, avatar: 'profile-2.webp', name: 'Deni Sugiarto', lastDelivery: '17-01-2022' },
      { id: 2, avatar: 'profile-1.webp', name: 'Ahmed Al Aklouk', lastDelivery: '17-01-2022' },
      { id: 3, avatar: 'profile-1.webp', name: 'Ahmed Al Aklouk', lastDelivery: '17-01-2022' },
      { id: 4, avatar: 'profile-1.webp', name: 'Ahmed Al Aklouk', lastDelivery: '17-01-2022' },
      { id: 5, avatar: 'profile-1.webp', name: 'Ahmed Al Aklouk', lastDelivery: '17-01-2022' },
      { id: 6, avatar: 'profile-1.webp', name: 'Ahmed Al Aklouk', lastDelivery: '17-01-2022' },
      { id: 7, avatar: 'profile-1.webp', name: 'Ahmed Al Aklouk', lastDelivery: '17-01-2022' },
      { id: 8, avatar: 'profile-1.webp', name: 'Ahmed Al Aklouk', lastDelivery: '17-01-2022' },
      { id: 9, avatar: 'profile-1.webp', name: 'Ahmed Al Aklouk', lastDelivery: '17-01-2022' },
    ];

    // WHANAU MAP
    function listAllWhanau() {
      $('#whanau').prepend(
        jQuery.map(whanau, function (item) {
          return (
            "<div class='d-flex border-bottom p-3 align-items-center'>" +
            "<input id='whanau-" +
            item.id +
            "' type='checkbox' class='form-check-input me-2' />" +
            "<img src='../assets/images/" +
            item.avatar +
            "' alt='avatar' class='icon-lg rounded-circle me-2' />" +
            '<div>' +
            "<h6 class='fs-5 mb-1'>" +
            item.name +
            '</h6>' +
            "<h6 class='fs-6'><span class='fw-light text-dark'>Last Delivery </span>" +
            item.lastDelivery +
            '</h6>' +
            '</div>' +
            '</div>'
          );
        })
      );
    }

    // SELECTED WHANAU
    let selectedWhanau = [];

    function listSelectedWhanau() {
      $('#addWhanau').children().remove();
      $('#addWhanau').prepend(
        jQuery.map(selectedWhanau, function (index) {
          return (
            "<div class='col-12 col-md-6'>" +
            "<div class='card small bg-light'>" +
            "<div class='card-body'>" +
            "<div class='d-flex align-items-center'>" +
            "<img src='../assets/images/" +
            index.avatar +
            "' alt='avatar' class='icon-lg rounded-circle'/>" +
            "<div class='d-block ms-2'>" +
            "<h6 class='fs-5 mb-1'>" +
            index.name +
            '</h6>' +
            "<h6 class='fs-6'> <span class='fw-light text-dark'>Last Delivery </span>" +
            index.lastDelivery +
            '</h6> </div>' +
            "<div class='ms-auto'>" +
            "<button id='" +
            index.id +
            "' class='btn btn-delete btn-danger p-0 flex-center icon-lg'>" +
            "<i class='fa-solid fa-trash text-white fs-5'></i>" +
            '</button>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>'
          );
        })
      );
      $('.btn-delete').click(function () {
        let id = $(this).prop('id');
        removeWhanau(id);
        listSelectedWhanau();
        removeCheck(id);
        buttonSendUpdate();
      });
    }

    // LOAD ALL ARRAY
    listAllWhanau();
    listSelectedWhanau();

    //FUNCTION ADD SELECTED WHANAU
    function addWhanau(id) {
      selectedWhanau.push(whanau[id]);
    }

    //FUNCTION REMOVE SELECTED WHANAU
    function removeWhanau(id) {
      selectedWhanau = selectedWhanau.filter((item) => {
        return item.id != id;
      });
    }

    //MAKE INPUT CHECKBOX TO UNCHECK / FALSE
    function removeCheck(id) {
      let item = 'whanau-' + id;
      return $('#' + item).prop('checked', false);
    }

    //BUTTON SEND UPDATE TRIGGER
    function buttonSendUpdate() {
      if (selectedWhanau.length > 0) {
        console.log('button change to primary');
        $('#sendMessage').removeClass('btn-secondary').addClass('btn-primary').attr('disabled', false);
      } else {
        $('#sendMessage').removeClass('btn-primary').addClass('btn-secondary').attr('disabled', true);
      }
    }

    //INPUT CHECKBOX WILL ADD SELECTED WHANAU WHEN CHECK AND REMOVE WHEN UNCHECK
    $('.form-check-input').click(function () {
      let id = $(this).prop('id').split('-')[1];
      if ($(this).prop('checked') == true) {
        addWhanau(id);
        listSelectedWhanau();
      } else if ($(this).prop('checked') == false) {
        removeWhanau(id);
        listSelectedWhanau();
      }
      buttonSendUpdate();
    });

    //LIST RECIPIENTS MAP
    function listRecipients(index) {
      $('#listRecipients').children().remove();
      $('#listRecipients').prepend(
        jQuery.map(whanau.slice(0, index), function (item) {
          return (
            "<div class='col-12 col-md-4 col-lg-3'>" +
            "<div class='d-flex p-2 border rounded'>" +
            "<img src='../assets/images/" +
            item.avatar +
            "' alt='avatar' class='icon-lg rounded-circle me-2' />" +
            '<div>' +
            "<h6 class='fs-5 mb-1'>" +
            item.name +
            '</h6>' +
            "<h6 class='fs-6'><span class='fw-light text-secondary me-1'>Last Delivery</span>" +
            item.lastDelivery +
            '</h6>' +
            '</div>' +
            '</div>' +
            '</div>'
          );
        })
      );
    }

    //GENERATE RECIPIENTS LIST
    listRecipients(4);
    $('#qtyRecipients').text(whanau.length - 4);

    //FUNCTION BUTTON SHOW MORE
    $('#showAllRecipients').click(function () {
      if ($(this).text() == 'Less') {
        listRecipients(4);
        $('#showAllRecipients').text('Show ' + (whanau.length - 4) + ' More');
      } else {
        listRecipients(whanau.length);
        $(this).text('Less');
      }
    });

    //BUTTON BACK MESSAGE HISTORY DETAIL
    $('#backMessageHistoryDetail').click(function () {
      $('#messageHistoryDetail').removeClass('show');
      $('#messageHistory').addClass('show');
    });

    //BUTTON SEE DETAIL IN MESSAGE HISTORY
    $('#seeDetailButton').click(function () {
      $('#messageHistory').removeClass('show');
      $('#messageHistoryDetail').addClass('show');
    });

    //BUTTON DELETE IN MESSAGE HISTORY
    $('#deleteMessageButton').click(function () {
      $('#tableRow').children($('td')).text('No data').addClass('text-secondary');
    });
  });
</script>
{% endblock %}
