.card.group-chat {
  $headerHeight: 60px;
  $marginCard: 24px;
  height: calc(100vh - $headerHeight - calc($marginCard * 2));
  overflow-y: auto;

  @include media-breakpoint-up(md) {
    $headerHeight: 76px;
    $marginCard: 32px;
    height: calc(100vh - $headerHeight - calc($marginCard * 2));
  }
}

.table {
  thead {
    @extend .text-white;
    @extend .border;
    background-color: $brand-800;
  }

  tbody {
    @extend .fw-light;
  }
}

.my-chat,
.not-my-chat {
  @extend .d-flex;
  @extend .flex-column;

  .chat-container {
    @extend .col-10;
    @extend .col-sm-7;
    @extend .col-md-6;
    @extend .col-lg-5;
    @extend .col-xl-4;
  }
  .chat-content {
    @extend .px-2;
    @extend .py-3;
    @extend .rounded-top;
    @extend .fs-6;
    @extend .fw-light;
  }
  .chat-profile {
    @extend .d-flex;
    @extend .align-items-center;
  }
  &:not(:last-child) {
    @extend .mb-5;
  }
}

.my-chat {
  @extend .align-items-end;

  .chat-container {
    @extend .ms-5;
  }

  .chat-content {
    background-color: $success;
    @extend .rounded-start;
    @extend .text-white;
  }

  .chat-profile {
    @extend .flex-row-reverse;
  }
}

.not-my-chat {
  @extend .align-items-start;

  .chat-container {
    @extend .me-5;
  }

  .chat-content {
    @extend .bg-light;
    @extend .rounded-end;
  }
}
