<!-- SUCCESS -->
{% macro success(message) %}
<div class="alert alert-primary alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endmacro %}

<!-- FAILED -->
{% macro failed(message) %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endmacro %}
