<!-- BUTTON SUBMIT -->
{% macro submit(id) %}
<button id="{{ id }}" class="btn btn-primary mt-4" type="submit">Save Change</button>
{% endmacro %}

<!-- BUTTON ONLY ICON -->
{% macro icon(icon, color, id) %}
<button id='{{ id }}' class='btn {{ color }} p-0 flex-center icon-lg'>
  <i class='fa-solid {{ icon }} text-white fs-5'></i>
</button>
{% endmacro %}

{% macro back(id, text) %}
<a id="{{ id }}" role="button" class="d-flex align-items-center fw-bolder">
  <i class="icon-back fa-solid fa-angle-left me-2"></i>
  {{ text }}
</a>
{% endmacro %}

{% macro backIcon(id, href) %}
<a id="{{ id }}" href="{{ href }}" role="button" class="d-flex align-items-center fw-bolder">
  <i class="icon-back fa-solid fa-angle-left me-2"></i>
</a>
{% endmacro %}