<!-- BUTTON SUBMIT -->
{% macro submit(class, text) %}
<button class="{{ class }} btn btn-primary mt-4" type="submit">{{ text }}</button>
{% endmacro %}

<!-- BUTTON ONLY ICON -->
{% macro text(text, color, href='#', id) %}
<a id="{{ id }}" href="{{ href }}" role="button" class="btn {{ color }}"> {{ text }} </a>
{% endmacro %}

<!-- BUTTON ONLY ICON -->
{% macro icon(icon, color, href='#', id) %}
<a id="{{ id }}" href="{{ href }}" role="button" class="btn {{ color }} flex-center p-0 rounded-1 icon-lg">
  <i class="fa-solid fa-{{ icon }} fs-5"></i>
</a>
{% endmacro %}

<!-- BUTTON ICON WITH TEXT -->
{% macro iconWithText(icon, color, text, href='#', id) %}
<a id="{{ id }}" href="{{ href }}" role="button" class="btn px-2 px-md-3 py-1 {{ color }} flex-center h-100">
  <i class="fa-solid fa-{{ icon }} fs-5 me-2"></i>
  {{ text }}
</a>
{% endmacro %}

<!-- BUTTON ICON WITH TEXT LEFT SIDE -->
{% macro iconWithTextLeft(icon, color, text, href='#', id) %}
<a id="{{ id }}" href="{{ href }}" role="button" class="btn {{ color }} flex-center fs-5 h-100">
  {{ text }}
  <i class="fa-solid fa-{{ icon }} fs-2 ms-2"></i>
</a>
{% endmacro %}

<!-- BUTTON ICON WITH TEXT OUTSIDE -->
{% macro iconWithTextOutside(icon, color, text, href='#') %}
<a href="{{ href }}" role="button" class="d-flex align-items-center">
  <i class="fa-solid fa-{{ icon }} fs-5 me-2 {{ color }} btn flex-center p-0 rounded-1 icon-lg px-2 px-md-3 py-1"></i>
  <h6 class="h6">{{ text }}</h6>
</a>
{% endmacro %}
