{% import '../components/buttons.html' as button %}
<!-- BIG CARDS -->
{% macro big(icon, value, name) %}
<div class="card">
  <div class="card-body">
    <div class="d-flex">
      <div class="fs-2 flex-center icon-xl bg-primary text-white rounded-circle me-2">
        <i class="fa-solid fa-{{ icon }}"></i>
      </div>
      <div class="card-text">
        <h4 class="fs-2">{{ value }}</h4>
        <p class="fs-6 fw-light">{{ name }}</p>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

<!-- KAIMAHI CARD -->
{% macro kaimahi(avatar, name, delivery, linkEdit, linkDelete, link='#') %}
<div class="card shadow mt-3">
  <div class="card-body px-3 py-2">
    <div class="row gx-2 align-items-center">
      <div class="col-auto">
        <img src="{{ avatar }}" alt="img kaimahi" class="rounded-circle icon-lg" />
      </div>
      <div class="col">
        <h6 class="h6 mb-1">{{ name }}</h6>
        <h6 class="fs-6"><span class="fw-light text-dark-gray">Last Delivery </span>{{ delivery }}</h6>
      </div>
      <div class="col-auto">
        <div class="d-flex align-items-center gap-2">
          <div class="dropdown me-3">
            <a role="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-ellipsis-vertical fs-2 lh-1"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item" href="{{ linkEdit }}">
                  <i class="fa-solid fa-pen-to-square me-2"></i>Edit Kaimahi
                </a>
              </li>
              <li>
                <a class="dropdown-item text-danger" href="{{ linkDelete }}" data-bs-toggle="modal">
                  <i class="fa-solid fa-trash-can me-2"></i>Delete
                </a>
              </li>
            </ul>
          </div>
          <a href="{{ link }}" role="button" class="btn bg-gray-200 flex-center p-0 rounded-1 icon-lg">
            <i class="fa-solid fa-angle-right fs-5"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

<!-- WHANAU CARD WITH MAPS -->
{% macro whanau(map_url, dest_name, courier_avatar, courier_name, delivery) %}
<div class="position-relative mt-3">
  <img src="{{ map_url }}" alt="maps" class="img-wrapper rounded w-100 mh-300" />
  <div
    class="position-absolute bottom-0 start-50 translate-middle-x w-100 px-1 px-md-4 px-lg-1 px-xl-4 mb-1 mb-md-4 mb-lg-1 mb-lg-4"
  >
    <div class="card bg-white shadow">
      <div class="card-body">
        <div class="d-flex align-items-center mb-2">
          <h6 class="fs-4 fw-bolder me-auto">{{ dest_name }}</h6>
          {{ button.icon('angle-right', 'bg-gray-200') }}
        </div>
        <div class="fs-6 fw-light mb-1">By</div>
        <div class="d-flex align-items-center">
          <div class="col-auto me-1 me-sm-2">
            <img src="{{ courier_avatar }}" alt="img kaimahi" class="rounded-circle icon-lg" />
          </div>
          <div class="col">
            <h6 class="fs-6">{{ courier_name }}</h6>
            <p class="fs-6"><span class="text-secondary me-1">Last Delivery</span>{{ delivery }}</p>
          </div>
          <div class="col-auto me-1 me-sm-3">{{ button.iconWithText('phone', 'bg-primary text-white', 'Call') }}</div>
          <div class="col-auto">{{ button.icon('trash-can', 'bg-danger text-white') }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

<!-- WHANAU CARD  -->
{% macro cardWhanau(courier_avatar, courier_name, delivery, href) %}
<div class="card bg-white shadow">
  <div class="card-body">
    <div class="d-flex align-items-center justify-content-between mb-4">
      <div class="fs-6 fw-light mb-1">By</div>
      <a href="{{ href }}" role="button" class="btn bg-gray-200 flex-center p-0 rounded-1 icon-lg">
        <i class="fa-solid fa-angle-right fs-5"></i>
      </a>
    </div>
    <div class="d-flex align-items-center">
      <div class="col-auto me-1 me-sm-2">
        <img src="{{ courier_avatar }}" alt="img kaimahi" class="rounded-circle icon-lg" />
      </div>
      <div class="col">
        <h6 class="fs-6">{{ courier_name }}</h6>
        <p class="fs-6"><span class="text-secondary me-1">Last Delivery</span>{{ delivery }}</p>
      </div>
      <div class="col-auto me-1 me-sm-3">{{ button.iconWithText('phone', 'bg-primary text-white', 'Call') }}</div>
      <div class="col-auto">{{ button.icon('trash-can', 'bg-danger text-white') }}</div>
    </div>
  </div>
</div>
{% endmacro %}

<!-- SELECT WHANAU ITEM -->
{% macro selectWhanau(avatar, name, delivery) %}
<div class="d-flex border-bottom p-3 align-items-center">
  <input type="checkbox" class="form-check-input me-2" />
  <img src="../assets/images/{{ avatar }}" alt="avatar" class="icon-lg rounded-circle me-2" />
  <div>
    <h6 class="fs-5 mb-1">{{ name }}</h6>
    <h6 class="fs-6">
      <span class="fw-light text-dark">Last Delivery </span>
      {{ delivery }}
    </h6>
  </div>
</div>
{% endmacro %}

<!-- CUSTOMER -->
{% macro customer(avatar, name, address, link, linkEdit, linkDelete, href) %}
<div class="card shadow h-100">
  <div class="card-body">
    <div class="d-flex">
      <img src="{{ avatar }}" alt="avatar" class="icon-lg rounded-circle" />
      <div class="ms-2">
        <h6 class="fs-6 mb-1">
          {{ name }}<i
            class="fa-solid fa-exclamation ms-1 pointer fs-7 border border-dark icon-xs rounded-circle d-inline-flex justify-content-center align-items-center"
            data-bs-toggle="popover"
            data-bs-container="body"
            data-bs-placement="right"
            data-bs-trigger="hover focus"
            data-bs-content="whānau is allergic to shrimp type food"
          ></i>
        </h6>
        <div class="d-flex pe-2">
          <i class="fa-solid fa-location-dot me-1"></i>
          <p class="fs-6 fw-light">{{ address }}</p>
        </div>
      </div>
      <div class="ms-auto d-flex align-items-center">
        <div class="dropdown me-3">
          <a class="" role="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-ellipsis-vertical fs-2"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
            <li>
              <a class="dropdown-item" href="{{ link }}" data-bs-toggle="modal">
                <i class="fa-solid fa-pencil me-2"></i>Add Note
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ linkEdit }}">
                <i class="fa-solid fa-pen-to-square me-2"></i>Edit Whānau
              </a>
            </li>
            <li>
              <a class="dropdown-item text-danger" href="{{ linkDelete}}" data-bs-toggle="modal">
                <i class="fa-solid fa-trash-can me-2"></i>Delete
              </a>
            </li>
          </ul>
        </div>
        <a href="{{ href }}" role="button" class="btn btn-light flex-center p-0 rounded-1 icon-lg">
          <i class="fa-solid fa-angle-right fs-5"></i>
        </a>
      </div>
    </div>
    <div class="d-flex justify-content-end mt-2">{{ button.iconWithText('phone', 'btn-primary ', 'Call') }}</div>
  </div>
</div>
{% endmacro %}

<!-- CARD DELIVERIES -->
{% macro deliveries() %}
<div class="card bg-light">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div class="d-block">
        <h6 class="h6">Family_1</h6>
        <p class="fs-7">Ntowers, Block B1, Zemin 21, Daire 34513 Esenyurt/İstanbul, Turkey</p>
      </div>
      <div class="d-flex flex-column align-items-center">
        <a class="btn btn-primary rounded-circle p-1 icon-md flex-center">
          <i class="fa-solid fa-share-square fs-7"></i>
        </a>
        <h6 class="fs-7 fw-light mt-2">Open G-maps</h6>
      </div>
    </div>
    <div class="form-check d-flex align-items-center mt-3">
      <input class="form-check-input" type="checkbox" id="sent" />
      <label for="sent" class="form-check-label text-secondary fs-6 ms-2">mark as completed sent</label>
    </div>
  </div>
</div>
{% endmacro %}
