{% import '../components/images.html' as image %}
<!-- CHAT IS MINE -->
{% macro isMe(message, avaUrl, name, date, time) %}
<div class="my-chat">
  <div class="chat-container">
    <div class="d-flex align-items-end mb-2">
      <div class="dropup col-auto me-1">
        <a
          role="button"
          class="border text-secondary rounded-circle icon-md fs-5 flex-center p-0"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fa-solid fa-ellipsis-v"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a
              data-bs-toggle="modal"
              data-bs-target="#deleteMessageModal"
              class="dropdown-item text-danger"
              role="button"
              ><i class="fa-solid fa-trash-can me-2"></i>Delete</a
            >
          </li>
          <li>
            <a class="dropdown-item" role="button"><i class="fa-solid fa-reply me-2"></i>Reply</a>
          </li>
        </ul>
      </div>
      <div class="chat-content col">{{ message }}</div>
    </div>
    <div class="chat-profile">
      <img src="{{ avaUrl }}" alt="avatar" class="icon-lg rounded-circle" />
      <p class="desc mx-1">{{ name }} {{ date }}, {{ time }}</p>
    </div>
  </div>
</div>
{% endmacro %}

<!-- CHAT IS ME WITH IMAGES -->
{% macro isMeWithImages(message, images, avaUrl, name, date, time) %}
<div class="my-chat">
  <div class="chat-container">
    <div class="chat-content mb-2">{{ message }}</div>
    <div class="d-flex align-items-end justify-content-end mb-2">
      <div class="dropup col-auto me-1">
        <a
          role="button"
          class="border text-secondary rounded-circle icon-md fs-5 flex-center p-0"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fa-solid fa-ellipsis-v"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a
              data-bs-toggle="modal"
              data-bs-target="#deleteMessageModal"
              class="dropdown-item text-danger"
              role="button"
              ><i class="fa-solid fa-trash-can me-2"></i>Delete</a
            >
          </li>
          <li>
            <a class="dropdown-item" role="button"><i class="fa-solid fa-reply me-2"></i>Reply</a>
          </li>
        </ul>
      </div>
      <div class="col-auto">{{ image.list(images)}}</div>
    </div>
    <div class="chat-profile">
      <img src="{{ avaUrl }}" alt="avatar" class="icon-lg rounded-circle" />
      <p class="desc mx-1">{{ name }} {{ date }}, {{ time }}</p>
    </div>
  </div>
</div>
{% endmacro %}

<!-- CHAT IS ME WITH DOCUMENTS -->
{% macro isMeWithDoc(docName, avaUrl, name, date, time) %}
<div class="my-chat">
  <div class="chat-container">
    <div class="d-flex align-items-end justify-content-end mb-2">
      <div class="dropup col-auto me-1">
        <a
          role="button"
          class="border text-secondary rounded-circle icon-md fs-5 flex-center p-0"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fa-solid fa-ellipsis-v"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a
              data-bs-toggle="modal"
              data-bs-target="#deleteMessageModal"
              class="dropdown-item text-danger"
              role="button"
              ><i class="fa-solid fa-trash-can me-2"></i>Delete</a
            >
          </li>
          <li>
            <a class="dropdown-item" role="button"><i class="fa-solid fa-reply me-2"></i>Reply</a>
          </li>
        </ul>
      </div>
      <div class="col-auto">
        <div class="chat-content"><i class="fas fa-file-alt me-2"></i>{{ docName }}</div>
      </div>
    </div>
    <div class="chat-profile">
      <img src="{{ avaUrl }}" alt="avatar" class="icon-lg rounded-circle" />
      <p class="desc mx-1">{{ name }} {{ date }}, {{ time }}</p>
    </div>
  </div>
</div>
{% endmacro %}

<!-- CHAT IS NOT ME -->
{% macro isNotMe(message, avaUrl, name, date, time) %}
<div class="not-my-chat">
  <div class="chat-container">
    <div class="d-flex align-items-end flex-row-reverse mb-2">
      <div class="dropup col-auto ms-1">
        <a
          role="button"
          class="border text-secondary rounded-circle icon-md fs-5 flex-center p-0"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fa-solid fa-ellipsis-v"></i>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a
              data-bs-toggle="modal"
              data-bs-target="#deleteMessageModal"
              class="dropdown-item text-danger"
              role="button"
              ><i class="fa-solid fa-trash-can me-2"></i>Delete</a
            >
          </li>
          <li>
            <a class="dropdown-item" role="button"><i class="fa-solid fa-reply me-2"></i>Reply</a>
          </li>
        </ul>
      </div>
      <div class="chat-content">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s,
      </div>
    </div>
    <div class="chat-profile">
      <img src="{{ avaUrl }}" alt="avatar" class="icon-lg rounded-circle" />
      <p class="desc d-inline-block ms-1">Calib Jackson 14/06/2022, 12:40</p>
    </div>
  </div>
</div>
{% endmacro %}
