<!-- SEARCH INPUT IN HEADER -->
{% macro collapse(placeholder, name) %}
<a id="{{ name }}-button-search" role="button" class="d-block d-md-none">
  <i class="fa-solid fa-magnifying-glass icon-search"></i>
</a>
<div id="{{ name }}-input-search" class="position-relative d-none d-md-block">
  <label for="search" class="icon-search show">
    <i id="{{ name }}-icon-search" class="fa-solid fa-magnifying-glass"></i>
  </label>
  <input id="{{ name }}-search" class="form-control" type="search" placeholder="{{ placeholder }}" />
</div>
{% endmacro %}

<!-- NORMAL SEARCH INPUT -->
{% macro input(placeholder, class) %}
<div class="position-relative">
  <label for="search" class="icon-search show">
    <i class="fa-solid fa-magnifying-glass"></i>
  </label>
  <input class="form-control {{ class }}" type="search" placeholder="{{ placeholder }}" />
</div>
{% endmacro %}
