{% import './buttons.html' as button %}

<!-- WITH ICON -->
{% macro withIcon(icon, label, name, value, errorMessage, type) %}
<div class="card bg-light mb-4 mb-md-3">
  <div class="card-body">
    <div class="d-flex">
      <a class="col-auto icon icon-xl bg-primary" href="#{{ name }}"><i class="{{ icon }}"></i></a>
      <div class="col ms-2 position-relative">
        <label for="{{ name }}" class="h5 mb-1">{{ label }}</label>
        <input
          id="{{ name }}"
          name="{{ name }}"
          class="form-control fs-4 fw-light"
          value="{{ value }}"
          type="{{ type }}"
          placeholder="Type Your {{ label }} Here"
          required
        />
        <div class="invalid-feedback mt-1">          
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro imageWithIcon(icon, label, name, value, errorMessage, type) %}
<div class="card bg-light mb-4 mb-md-3">
  <div class="card-body">
    <div class="d-flex">
      <a class="col-auto icon icon-xl bg-primary" href="#{{ name }}"><i class="{{ icon }}"></i></a>
      <div class="col ms-2 position-relative">
        <label for="{{ name }}" class="h5 mb-1">{{ label }}</label>
        <div class="d-flex align-items-center">
          <div class="imgProfilePreview">
            <label for="{{ name }}" class="icon border-1 border-dashed border-dark icon-xxl rounded pointer">
              <i class="fas fa-plus fs-3 text-dark"></i>
            </label>
          </div>
          <input
            id="{{ name }}"
            name="{{ name }}"
            class="d-none"
            value="{{ value }}"
            type="file"
            placeholder="Type Your {{ label }} Here"
            accept="image/*"
            required
          />
          <div class="fileName form-control text-secondary fw-light ms-2">No file chosen</div>
        </div>
        <div class="form-text d-flex align-items-center mt-1"><i class="fas fa-exclamation text-warning icon-xs border border-warning rounded-circle d-inline-flex justify-content-center fs-7 me-1"></i>Max photo size 2MB</div>
        <div class="invalid-feedback mt-1">          
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

<!-- WITH ICON TYPE TEXTAREA -->
{% macro withIconTextArea(icon, label, name, value) %}
<div class="card bg-light mb-4 mb-md-3">
  <div class="card-body">
    <div class="d-flex">
      <a class="col-auto icon icon-xl bg-primary" href="#{{ name }}"><i class="fa-solid {{ icon }}"></i></a>

      <div class="col ms-2">
        <label for="{{ name }}" class="h5 pointer mb-1">{{ label }}</label>
        <textarea
          id="{{ name }}"
          name="{{ name }}"
          class="form-control fs-6 fw-light"
          rows="3"
          placeholder="Type Your {{ label }} Here"
          style="resize: none;"
        >{{ value }}</textarea
        >
      </div>
    </div>
  </div>
</div>
{% endmacro %}

<!-- WITH ICON For Address -->
{% macro withIconForAddress(icon, label, name, value) %}
<div class="card bg-light mb-4 mb-md-3">
  <div class="card-body">
    <div class="d-flex">
      <a class="col-auto icon icon-xl bg-primary" href="#{{ name }}"><i class="fa-solid {{ icon }}"></i></a>

      <div class="col ms-2">
        <label for="{{ name }}" class="h5 mb-1">{{ label }}</label>
        <textarea 
          id="{{ name }}"
          name="{{ name }}"
          class="form-control fs-4 fw-light bg-white d-none"
          rows="3"
          readonly                 
        ></textarea>
        <a id="btnAddress" role="button" class="text-primary d-block" data-bs-toggle="modal" data-bs-target="#addAddressModal">
          Add Address
        </a>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

<!-- FLOATING INPUT -->
{% macro floating(label, name, value, type='text') %}
<div class="form-floating">
  <input
    name="{{ name }}"
    type="{{ type }}"
    class="form-control"
    id="{{ name }}"
    placeholder="{{ label }}"
    value="{{ value | escape }}"
  />
  <label for="{{ name }}">{{ label }}</label>
</div>
{% endmacro %}

<!-- SEARCH INPUT -->
{% macro search(placeholder, class) %}
<div class="position-relative">
  <label for="search" class="icon-search show">
    <i class="fa-solid fa-magnifying-glass"></i>
  </label>
  <input class="form-control {{ class }}" type="search" placeholder="{{ placeholder }}" />
</div>
{% endmacro %}

<!-- SEARCH INPUT COLLAPSE -->
{% macro searchCollapse(placeholder, name) %}
<a id="{{ name }}-button-search" role="button" class="d-block d-md-none">
  <i class="fa-solid fa-magnifying-glass icon-search"></i>
</a>
<div id="{{ name }}-input-search" class="position-relative d-none d-md-block">
  <label for="search" class="icon-search show">
    <i id="{{ name }}-icon-search" class="fa-solid fa-magnifying-glass"></i>
  </label>
  <input id="{{ name }}-search" class="form-control" type="search" placeholder="{{ placeholder }}" />
</div>
{% endmacro %}

<!-- SEARCH AND FILTER -->
{% macro searchWithFilter(placeholder) %}
<div class="d-flex flex-row align-items-center mb-5" role="group" aria-label="Search and filter">
  <div class="position-relative flex-fill">
    <label for="search" class="icon-search show">
      <i class="fa-solid fa-magnifying-glass"></i>
    </label>
    <input
      class="form-control rounded-0 rounded-start w-100 border border-light"
      type="search"
      placeholder="{{ placeholder }}"
    />
  </div>
  <div class="col-auto">{{ button.text('Filter', 'btn-light rounded-0 p-2') }}</div>
  <div class="col-auto">{{ button.text('Search', 'btn-primary rounded-0 rounded-end fw-light py-2 px-3') }}</div>
</div>
{% endmacro %}

<!-- SEARCH AND FILTER WHITE BACKGROUND-->
{% macro searchWithFilterWhite(placeholder) %}
<div class="d-flex flex-row align-items-center mb-5" role="group" aria-label="Search and filter">
  <div class="position-relative flex-fill">
    <label for="search" class="icon-search show">
      <i class="fa-solid fa-magnifying-glass"></i>
    </label>
    <input
      class="form-control rounded-0 rounded-start w-100 border border-white bg-white"
      type="search"
      placeholder="{{ placeholder }}"
    />
  </div>
  <div class="col-auto">{{ button.text('Filter', 'bg-white rounded-0 p-2') }}</div>
  <div class="col-auto">{{ button.text('Search', 'btn-primary rounded-0 rounded-end fw-light py-2 px-3') }}</div>
</div>
{% endmacro %}
