{% import './cards.html' as card %} {% import './input-search.html' as inputSearch %} {% import './pagination.html' as
pagination %}
<!-- KAIMAHI ITEMS -->
{% macro section(items) %}
<section class="latest-kaimahi">
  <div class="card mt-5">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <h4 class="col fs-2 me-auto">Latest KaiMahi</h4>
        <div class="col-auto">{{ inputSearch.collapse('Look For Kai Mahi', 'kaimahi') }}</div>
      </div>
      <hr />
      <!-- CONTENT -->
      {% for item in items %} {{ card.kaimahi(item.name, item.delivery, item.link) }} {% endfor %} {{
      pagination.ViewAllBtn() }}
    </div>
  </div>
</section>
{% endmacro %}

<!-- CARDS -->
{% macro cards(items) %}
<!-- CONTENT -->
{% for item in items %} {{ card.kaimahi(item.name, item.delivery, item.linkEdit, item.linkDelete, item.link) }} {% endfor %} {% endmacro %}
