{% import './buttons.html' as button %}

<!-- INPUT MODAL -->
{% macro input(id, header, placeholder) %}
<div class="modal" id="{{ id }}Modal" tabindex="-1" aria-labelledby="{{ id }}Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ header }}</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <input type="text" class="form-control mt-3 mb-4" placeholder="{{ placeholder }}" />
          {{ button.submit('w-100', 'Send Message') }}
        </form>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

<!-- RESEND MODAL -->
{% macro resend(id, name, email) %}
<div class="modal" id="{{ id }}" tabindex="-1" aria-labelledby="{{ id }}Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Resend Email Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-secondary fw-light mb-4 mb-md-5">
          Hi, {{ name }}, this will resend email confirmation
          <span class="text-black fw-bold">{{ email }}</span>
        </p>
        <button type="button" class="btn btn-primary me-3" data-bs-dismiss="modal">Resend</button>
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

<!-- SUCCESS MODAL -->
{% macro success(id, text, link, icon) %}
<div class="modal" id="{{ id }}" tabindex="-1" aria-labelledby="{{ id }}Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center">
        <img src="{{ icon }}" alt="icon success" class="my-5" />
        <h5 class="h4 mb-3">Congratulations</h5>
        <p class="text-secondary fw-light mb-4 mb-md-5">{{ text }}</p>
        <a role="button" href="{{ link }}" class="btn btn-primary fs-5">Back To Home</a>
      </div>
    </div>
  </div>
</div>

{% endmacro %}

<!-- DELETE  -->
{% macro delete(id, message) %}
<div class="modal fade" id="delete{{ id }}Modal" tabindex="-1" aria-labelledby="{{ id }}ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="{{ id }}ModalLabel">Delete Confirmation</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-start">
        <p class="mb-3">Are you sure you want to delete this {{ message }}?</p>
        <div class="row gx-3">
          <div class="col-6 col-md-auto">
            <button id="delete{{ id }}Button" type="button" class="btn btn-primary w-100" data-bs-dismiss="modal">
              Yes, Delete
            </button>
          </div>
          <div class="col-6 col-md-auto">
            <button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

<!-- DELETE ITEM -->
{% macro deleteItem(id, message) %}
<div class="modal fade" id="delete{{ id }}Modal" tabindex="-1" aria-labelledby="{{ id }}ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-start">
        <p class="mb-5">Are you sure you want to delete this {{ message }}?</p>
        <div class="row gx-3 text-end pt-5">
          <div class="col">
            <a role="button" class="text-primary" data-bs-dismiss="modal">
              Cancel
            </a>
          </div>
          <div class="col-auto">
            <a id="delete{{ id }}Button" role="button" class="text-danger" data-bs-dismiss="modal">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

<!-- DELETE MESSAGE -->
{% macro deleteMessage(id, message) %}
<div class="modal fade" id="delete{{ id }}Modal" tabindex="-1" aria-labelledby="{{ id }}ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-start">
        <h4 class="modal-title mb-3" id="{{ id }}ModalLabel">Delete Message</h4>
        <p class="mb-3 text-secondary">Are you sure you want to delete this message?</p>
        <div class="form-check mb-3">
          <input type="checkbox" class="form-check-input" id="delEveryone" />
          <label class="form-check-label text-secondary" for="delEveryone">also delete for everyone</label>
        </div>
        <div class="row g-3 justify-content-end">
          <div class="col-auto">
            <a type="button" class="text-primary" data-bs-dismiss="modal">Cancel</a>
          </div>
          <div class="col-auto">
            <a id="delete{{ id }}Button" type="button" class="text-danger" data-bs-dismiss="modal"> Delete </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

<!-- IMAGE AND VIDEOS PREVIEW -->
{% macro imagePreview(id, message) %}
<div class="modal fade" id="mediaPreviewModal" tabindex="-1" aria-labelledby="{{ id }}ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header justify-content-between">
        <div class="col">
          <div class="d-flex align-items-center">
            <a
              role="button"
              class="btn-outline-dark border border-dark rounded-circle icon-md flex-center d-block d-sm-none me-3 me-sm-0"
              data-bs-dismiss="modal"
              aria-label="Close"
              ><i class="fas fa-xmark"></i
            ></a>
            <img src="../assets/images/profile-1.webp" alt="avatar" class="icon-lg rounded-circle" />
            <p class="desc mx-1">Calib Jackson 12:40</p>
          </div>
        </div>
        <div class="col-auto">
          <div class="d-block d-sm-none">
            <div class="btn-group">
              <a
                href=""
                class="btn-outline-dark border border-dark rounded-circle icon-md flex-center"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                ><i class="fas fa-ellipsis-v"></i
              ></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="" class="dropdown-item"><i class="fas fa-arrow-down me-2"></i>Download</a>
                </li>
                <li>
                  <a href="" class="dropdown-item text-danger"><i class="fas fa-trash-can me-2"></i>Delete</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="d-none d-sm-flex gap-2">
            <a
              role="button"
              class="btn-outline-danger border border-danger rounded-circle icon-lg flex-center"
              data-bs-dismiss="modal"
              aria-label="Close"
              ><i class="fas fa-trash-can"></i
            ></a>
            <a
              role="button"
              class="btn-outline-dark border border-dark rounded-circle icon-lg flex-center"
              data-bs-dismiss="modal"
              aria-label="Close"
              ><i class="fas fa-arrow-down"></i
            ></a>
            <a
              role="button"
              class="btn-outline-dark border border-dark rounded-circle icon-lg flex-center"
              data-bs-dismiss="modal"
              aria-label="Close"
              ><i class="fas fa-xmark"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="modal-body p-0 flex-center">
        <img src="../assets/images/picture-1.webp" alt="images" class="img-fluid rounded-bottom" />
      </div>
    </div>
  </div>
</div>
{% endmacro %}

<!-- Add Address -->
{% macro addAddress() %}
<div class="modal fade" id="addAddressModal">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="h2 ms-auto">Add Address</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body pt-5">
        <h6 class="h6 mb-3 fw-bolder">Where is your delivery destination?</h6>
        <textarea
          class="form-control fw-light"
          name="newAddress"
          id="addAddress"
          rows="3"
          placeholder="Write the name of the street / building / housing"
        ></textarea>
        <select class="form-control" name="choices-custom-templates" id="choices-custom-templates">
          <option value="ntowers">Ntowers, Block B20, Zemin 11, Daire 34513 Istanbul, Turkey.</option>
          <option value="turkeys">Ntowers, Block B1, Zemin 21, Daire 34513 Esenyurt/Istanbul, Turkey.</option>
        </select>
        <h6 class="h6 mt-5 mb-3 fw-bolder">Pin Address</h6>
        <div class="position-relative mb-5 ">
          <div id="mapNotes" class="position-absolute fade rounded-top bd-yellow-700 text-white p-2 w-100 d-none d-md-block">
            <h6 class="h6 mb-1">Set the right pin</h6>
            <p class="fw-light fs-5">
              This address will be the shipping address, please check if it is correct, if not click the map to adjust
            </p>
          </div>
          <img src="../assets/images/maps-small.webp" alt="map" class="map-set-pin-wrapper" />
        </div>
        <button class="btn btn-secondary w-100 saveAddress" data-bs-dismiss="modal" disabled>Save Address</button>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
