{% macro default() %}
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
  </ul>
</nav>
{% endmacro %}

<!-- With View All Button -->
{% macro ViewAllBtn(link='#') %}
<div class="d-flex mt-5">
  <div class="col">
    <a role="button" href="{{ link }}" class="text-primary fw-light">View all</a>
  </div>
  <div class="col-auto">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
      </ul>
    </nav>
  </div>
</div>
{% endmacro %}

<!-- With Entries -->
{% macro withEntries() %}
<div class="d-flex mt-5">
  <div class="col">
    <p class="text-secondary fw-light">Showing 1 to 1 of 1 entries</p>
  </div>
  <div class="col-auto">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
      </ul>
    </nav>
  </div>
</div>
{% endmacro %}
