<aside class="bd-sidebar bg-white shadow-sm">
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-body p-0">
      <nav class="sidebar">
        <div class="py-3 py-lg-5 mx-4 me-lg-3" id="sidebar-item"></div>
        <!-- Logout -->
        <a class="nav-link logout" role="button"
          >Logout<i class="ms-auto fa-solid fa-arrow-right-from-bracket ms-auto"></i
        ></a>
      </nav>
    </div>
  </div>
</aside>
