<aside class="bd-sidebar bg-white">
  <nav class="navbar navbar-expand-lg navbar-dark p-0">
    <div class="collapse navbar-collapse flex-column align-items-start w-100" id="navbarSupportedContent">
      <div class="py-3 py-lg-5" id="sidebar-item"></div>
      <!-- Logout -->
      <a
        class="nav-link mt-auto bg-light text-dark w-100 border py-lg-3 px-lg-4 fs-18 fw-bold d-flex align-items-center"
        role="button"
        >Logout<i class="ms-auto fa-solid fa-arrow-right-from-bracket ms-auto"></i
      ></a>
    </div>
  </nav>
</aside>
