{% import './cards.html' as card %} {% import './input-search.html' as inputSearch %} {% import './pagination.html' as
pagination %}
<!-- WHANAU ITEMS -->
{% macro value(items) %}
<!-- LATEST WHANAU -->
<section class="latest-whanau">
  <div class="card mt-5">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <h4 class="col fs-2 me-auto">Latest Whānau</h4>
        <div class="col-auto">{{ inputSearch.collapse('Look For Whānau', 'whanau') }}</div>
      </div>
      <hr />
      <!-- CONTENT -->
      {% for item in items %} {{ card.whanau(item.map_url, item.dest_name, item.courier_avatar, item.courier_name,
      item.delivery) }} {% endfor%}
      <!-- VIEW ALL AND PAGINATION -->
      <div class="d-flex mt-5">
        <div class="col">
          <a role="button" href="" class="text-primary fw-light">View all</a>
        </div>
        <div class="col-auto">{{ pagination.default() }}</div>
      </div>
    </div>
  </div>
</section>
{% endmacro %}
