{% import './cards.html' as card %} {% import './input.html' as input %} {% import './pagination.html' as pagination %}
<!-- WHANAU ITEMS -->
{% macro section(items) %}
<!-- LATEST WHANAU -->
<section class="latest-whanau">
  <div class="card mt-5">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <h4 class="col fs-2 me-auto">Latest Whānau</h4>
        <div class="col-auto">{{ input.searchCollapse('Look For Whānau', 'whanau') }}</div>
      </div>
      <hr />
      <!-- CONTENT -->
      {% for item in items %} {{ card.whanau(item.id, item.dest_name, item.courier_name,
      item.delivery) }} {% endfor %} {{ pagination.ViewAllBtn() }}
    </div>
  </div>
</section>
{% endmacro %}

<!-- WHANAU ITEM CARD -->
{% macro cards(values) %}
<div class="row g-3 gx-lg-5 gy-md-4">
  <!-- CONTENT -->
  {% for value in values %}
  <div class="col-12 col-lg-6">
    {{ card.cardWhanau( value.courier_name, value.delivery, value.href ) }}
  </div>
  {% endfor %}
  <!-- VIEW ALL AND PAGINATION -->
  {{ pagination.ViewAllBtn() }}
</div>
{% endmacro %}

<!-- WHANAU ITEM SELECT LIST -->
{% macro select(items) %} {{ input.search('Look For Whānau', 'w-100') }}
<div class="mb-4">
  <!-- CONTENT -->
  {% for item in items %} {{ card.selectWhanau( item.name, item.delivery ) }} {% endfor %}
</div>

{% endmacro %}
