{% import './cards.html' as card %} {% import './input-search.html' as inputSearch %} {% import './pagination.html' as
pagination %}
<!-- WHANAU ITEMS -->
{% macro section(items) %}
<!-- LATEST WHANAU -->
<section class="latest-whanau">
  <div class="card mt-5">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <h4 class="col fs-2 me-auto">Latest Whānau</h4>
        <div class="col-auto">{{ inputSearch.collapse('Look For Whānau', 'whanau') }}</div>
      </div>
      <hr />
      <!-- CONTENT -->
      {% for item in items %} {{ card.whanau(item.map_url, item.dest_name, item.courier_avatar, item.courier_name,
      item.delivery) }} {% endfor %} {{ pagination.ViewAllBtn() }}
    </div>
  </div>
</section>
{% endmacro %}

<!-- KAIMAHI ITEM CARD -->
{% macro cards(values) %}
<div class="row g-3 gx-lg-5 gy-md-4">
  <!-- CONTENT -->
  {% for value in values %}
  <div class="col-12 col-lg-6">
    {{ card.cardWhanau( value.courier_avatar, value.courier_name, value.delivery, value.href ) }}
  </div>
  {% endfor %}
  <!-- VIEW ALL AND PAGINATION -->
  {{ pagination.ViewAllBtn() }}
</div>
{% endmacro %}
