.card {
  &.outside-button {
    margin-bottom: 120px;
  }

  &.small {
    .card-body, .card-header {
      @extend .p-2;
    }
  }

  .card-body,
  .card-header,
  .card-footer {
    @include media-breakpoint-up(md) {
      padding: 20px;
    }
  }

  &.card--notification {
    .card-body,
    .card-header,
    .card-footer {
      @include media-breakpoint-up(md) {
        padding: 24px;
      }
    }
  }
}

