//GRID AREA
.bd-header {
  grid-area: bdheader;
}

.bd-sidebar {
  grid-area: bdsidebar;
  overflow-y: auto;
  z-index: 1;

  .sidebar {
    @extend .d-flex;
    @extend .flex-column;

    $header-height: 60px;
    height: calc(100vh - $header-height);
    overflow-y: auto;
    @include media-breakpoint-up(md) {
      $header-height: 76px;
      height: calc(100vh - $header-height);
    }
  }

  > .offcanvas {
    @extend .vs-lg-visible;
    //TO SHOW OFFCANVAS
    top: 60px;
    width: 100%;
    @include media-breakpoint-up(md) {
      top: 76px;
      width: 262px;
    }
    @include media-breakpoint-up(lg) {
      transform: none;
    }
  }
}

.bd-main {
  @extend .mx-2;
  @extend .my-4;
  @extend .mx-md-4;
  @extend .my-md-5;
  @extend .mx-lg-5;
  grid-area: bdmain;
  z-index: 0;
}

.grid-container {
  $sidebar-width: 262px;
  display: grid;
  grid-template-areas:
    'bdheader'
    'bdsidebar'
    'bdmain';
  grid-gap: 0;

  @include media-breakpoint-up(lg) {
    grid-template-columns: $sidebar-width auto;
    grid-template-areas:
      'bdheader bdheader'
      'bdsidebar bdmain';
  }
}

//END GRID AREA
