.nav-tabs {
    border-bottom: 1px solid $gray-400;

    .nav-link {
        color: $secondary;
        font-size: 20px;
        line-height: 28px;
        padding: 0 0 10px;
    }

    .nav-link:not(:last-child) {
        @extend .me-md-4;
        @extend .me-3;
    }

    .nav-link.active {
        font-weight: 500;
        border-bottom: 2px solid;
    }
}