.navbar {


  &.bd-header {
    @include media-breakpoint-up(md) {
      padding: 23px 12px 22px 12px;
    }
    
    @include media-breakpoint-up(lg) {
      padding: 16px 28px 16px 28px;
    }
  }
}

.navbar-toggler {
    border: none;
}