$utilities: (
  'font-size': (
    responsive: true,
    property: font-size,
    class: fs,
    values: $font-sizes,
  ),
  'max-height': (
    property: max-height,
    class: mh,
    values: (
      100: 100%,
      300: 300px,
    ),
  ),
  'visibility': (
    responsive: true,
    property: visibility,
    class: vs,
    values: (
      visible: visible,
      invisible: hidden,
    ),
  ),
);
