//NEGATIVE MARGIN
$enable-negative-margins: true;

$min-contrast-ratio: 2;

//gray-color-variables
$gray-100: #f6f6f6;
$gray-200: #E9E9E9;
$gray-400: #CACACA;
$gray-600: #A9A9A9;
$gray-800: #626262;
$gray-900: #2C3131;


$red:     #D32721;
$yellow:  #ffc107;
$green:   #07604E;
$cyan:    #0dcaf0;
$white: #fff;
$text:    $gray-900;

$custom-colors: (
  "light-gray": $gray-400
);

//theme-color-variables
$primary:     #25C967;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

//BODY 
$body-color: $text;
$body-bg: $gray-100;

// BORDER RADIUS
$border-radius-sm: .3125rem; //5px
$border-radius: .625rem; //10px
$border-radius-lg: 1.25rem; //20px

//BUTTON SM
$btn-padding-y-sm: .5rem;
$btn-padding-x-sm: .625rem;
$btn-font-size-sm: .75rem;
$btn-border-radius-sm: .5rem;

//BUTTON
$btn-padding-y: .875rem;
$btn-padding-x: 1.75rem;
$btn-font-weight: 500;

//BUTTON LG
$btn-padding-y-lg: .875rem;
$btn-padding-x-lg: 1.5rem;
$btn-border-radius-lg: .5rem;
$input-btn-font-size-lg: 1rem;

//CARD
$card-border-width: 0;
$card-spacer-y: 20px;
$card-spacer-x: 10px;

// FONT FAMILY
$font-family-base: 'Inter', sans-serif;

//FONT SIZE
$font-sizes: (
  1: 1.75rem, //28px
  2: 1.5rem,  //24px
  3: 1.25rem, //20px
  4: 1rem,  //16px
  5: .875rem, //14px
  6: .75rem,  //12px
  7: .625rem  //10px
);

//FONT WEIGHT 
$font-weight-bold: 500;
$font-weight-bolder: 700;

//FORM CHECK INPUT
$form-check-input-width: 1.25em;

// FORM CONTROL
$input-padding-y: 0.625rem;
$input-padding-x: 1rem;

//FORM FLOATING
$form-floating-label-transform: scale(.75) translateY(-.4rem) translateX(.55rem);

//INPUT
$input-btn-padding-y: 1rem;
$input-btn-padding-x: 1.5rem;
$input-bg: $white;
$input-placeholder-color: $gray-400;


// LINK
$link-color: black;
$link-decoration: none;

//NAVBAR
$navbar-padding-y: 0.875rem;
$navbar-padding-x: 0rem;

// NAVBAR TOGGLER
$navbar-light-toggler-icon-bg: url('../icons/icon-menu.svg');
$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;


//NAVLINK
$nav-tabs-link-active-color: $primary;
$nav-link-font-weight: 300;
$nav-tabs-border-width: 0;
$nav-tabs-link-active-bg: $white;
$nav-tabs-link-active-border-color: $primary;

//REBOOT
$headings-margin-bottom: 0;
$paragraph-margin-bottom: 0;

//SPACERS
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .3125,
  2: $spacer * .625,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2,
  6: $spacer * 4.375,
);
