//NEGATIVE MARGIN
$enable-negative-margins: true;

$min-contrast-ratio: 2;

//gray-color-variables
$gray-100: #f6f6f6;
$gray-200: #e9e9e9;
$gray-400: #cacaca;
$gray-600: #a9a9a9;
$gray-800: #626262;
$gray-900: #2c3131;

$red: #d32721;
$yellow: #ffc107;
$green: #07604e;
$blue: #2345ed;
$white: #fff;
$text: $gray-900;
$brand: #25c967;
$black: #000;

$brand-100: #d3fcd3;
$brand-200: #a8f9b0;
$brand-300: #79ee91;
$brand-400: #56de7f;
$brand-500: $brand;
$brand-600: #1bac64;
$brand-700: #12905e;
$brand-800: #0b7455;
$brand-900: #07604e;

$brands: (
  'brand-100': $brand-100,
  'brand-200': $brand-200,
  'brand-300': $brand-300,
  'brand-400': $brand-400,
  'brand-500': $brand-500,
  'brand-600': $brand-600,
  'brand-700': $brand-700,
  'brand-800': $brand-800,
  'brand-900': $brand-900,
);

$custom-colors: (
  'light-gray': $gray-400,
  'brand-900': $brand-900,
  'gray-200': $gray-200,
  'brand-100': $brand-100,
);

$colors: (
  'red': $red,
  'yellow': $yellow,
  'green': $green,
  'blue': $blue,
  'white': $white,
  'gray': $gray-600,
  'gray-dark': $gray-800,
  'brand': $brand,
);

//theme-color-variables
$primary: $brand;
$secondary: $gray-600;
$success: $green;
$info: $blue;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

//BODY
$body-color: $text;
$body-bg: $gray-100;

//BORDER RADIUS
$border-radius-sm: 0.3125rem; //5px
$border-radius: 0.625rem; //10px
$border-radius-lg: 1.25rem; //20px

//Box Shadow
$box-shadow: 0 .25rem .625rem rgba($black, .1);

//BUTTON SM
$btn-padding-y-sm: 0.5rem;
$btn-padding-x-sm: 0.625rem;
$btn-font-size-sm: 0.75rem;
$btn-border-radius-sm: 0.5rem;

//BUTTON
$btn-padding-y: 0.875rem;
$btn-padding-x: 1.75rem;
$btn-font-weight: 500;

//BUTTON LG
$btn-padding-y-lg: 0.875rem;
$btn-padding-x-lg: 1.5rem;
$btn-border-radius-lg: 0.5rem;
$input-btn-font-size-lg: 1rem;

//CARD
$card-border-width: 0;
$card-spacer-y: 20px;
$card-spacer-x: 10px;
$card-cap-bg: $white;

// FONT FAMILY
$font-family-base: 'Inter', sans-serif;

//FONT SIZE
$font-sizes: (
  1: 1.75rem,
  //28px
  2: 1.5rem,
  //24px
  3: 1.25rem,
  //20px
  4: 1rem,
  //16px
  5: 0.875rem,
  //14px
  6: 0.75rem,
  //12px
  7: 0.625rem //10px,,,,,,,,,,,,,,,,,,,,,,,,,,
);

//FONT WEIGHT
$font-weight-bold: 500;
$font-weight-bolder: 700;

//FORM CHECK INPUT
$form-check-input-width: 1.25em;

// FORM CONTROL
$input-padding-y: 0.625rem;
$input-padding-x: 1rem;

//FORM FLOATING
$form-floating-label-transform: scale(0.75) translateY(-0.4rem) translateX(0.55rem);

//FORM VALIDATION
$form-feedback-icon-valid: '';

//INPUT
$input-btn-padding-y: 1rem;
$input-btn-padding-x: 1.5rem;
$input-bg: $white;
$input-placeholder-color: $gray-400;

// LINK
$link-color: black;
$link-decoration: none;

//MODAL
$modal-sm: 410px;

//NAVBAR
$navbar-padding-y: 0.875rem;
$navbar-padding-x: 0rem;

// NAVBAR TOGGLER
$navbar-light-toggler-icon-bg: url('../icons/icon-menu.svg');
$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;

//NAVLINK
$nav-tabs-link-active-color: $primary;
$nav-link-font-weight: 300;
$nav-tabs-border-width: 0;
$nav-tabs-link-active-bg: $white;
$nav-tabs-link-active-border-color: $primary;

// OFFCANVAS
$offcanvas-border-width: 0;
$offcanvas-horizontal-width: 262px;

//PAGINATION
$pagination-padding-y: 0.125rem;
$pagination-padding-x: 0.625rem;

//PROGRESS BAR
$progress-height: 10px;
$progress-bg: $gray-400;

//REBOOT
$headings-margin-bottom: 0;
$paragraph-margin-bottom: 0;

//SPACERS
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.3125,
  2: $spacer * 0.625,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2,
  6: $spacer * 4.375,
);
