@charset 'UTF-8';

// 1. Configuration and helpers
@import 'variables', 'utilities';

// 2. Vendors
@import '../../node_modules/bootstrap/scss/bootstrap';

// 3. Components
@import 'tables', 'navbar', 'cards', 'dropdown', 'nav', 'buttons', 'layout', 'pagination', './components/sidebar',
  './components/steps-menu', './components/notification';

// 4. Pages
@import './pages/group-chat';

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.avatar {
  @extend .img-wrapper;
  width: 64px;
  height: 64px;

  @include media-breakpoint-up(md) {
    width: 131px;
    height: 131px;
  }
}

.desc {
  @extend .text-secondary;
  @extend .fs-6;
  @extend .fw-light;
}

.form-check-label,
.form-check-input,
.pointer {
  cursor: pointer;
}

.flex-center {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
}

.icon {
  @extend .flex-center;
  @extend .text-white;
  @extend .rounded-1;

  &-sm {
    width: 20px;
    height: 20px;
  }

  &-md {
    width: 24px;
    height: 24px;
  }

  &-lg {
    width: 32px;
    height: 32px;
  }

  &-xl {
    @extend .fs-2;
    width: 50px;
    height: 50px;
  }
}

input[type='text']:hover {
  @extend .bg-light;
}

.img-wrapper {
  object-fit: cover;
  object-position: top;
}

.brand-wrapper {
  width: 157px;
  height: 27px;

  @include media-breakpoint-up(lg) {
    width: 187px;
    height: 32px;
  }
}

.form-container {
  padding: 30px 15px 70px 15px;

  @include media-breakpoint-up(lg) {
    padding: 70px 40px 70px 40px;
  }
}

.header-profile-image {
  @extend .img-wrapper;
  width: 32px;
  height: 32px;
  border-radius: 100%;

  @include media-breakpoint-up(md) {
    width: 44px;
    height: 44px;
  }
}

input[type='date']::-webkit-calendar-picker-indicator,
input[type='time']::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
  cursor: pointer;
}

//NOTIFICATION
.notification-header {
  .icon-notification {
    @extend .fs-3;
    @extend .fs-md-1;
    @extend .text-secondary;
  }

  .badge.notification {
    @extend .fs-7;
    @extend .fs-md-6;
    padding: 2px 4px;
    left: 5px;
    top: 2px;
  }
}

.icon-search {
  position: static;
  @extend .fs-3;
  color: $secondary;

  &.show {
    position: absolute;
    left: 20px;
    top: 8px;
    font-size: 18px;
    color: $text;
  }
}

input[type='search'] {
  background-color: $gray-100;
  border-radius: 10px;
  border: none;
  padding-left: 48px;

  @include media-breakpoint-up(md) {
    width: fit-content;
  }
}

input[type='search']:focus-visible {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem rgb(37 201 103 / 25%);
  box-shadow: 0 0 0 0.25rem rgba(37, 201, 103, 0.25);
}

.page-title {
  @extend .fs-md-1;
  @extend .fs-2;
  margin-bottom: 24px;

  @include media-breakpoint-up(md) {
    margin-bottom: 32px;
  }
}

.logo-header {
  width: 100%;
  max-width: 180px;
  height: auto;

  @include media-breakpoint-up(md) {
    max-width: 232px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 187px;
  }
}

.subtitle {
  @extend .fs-6;
  @extend .fs-lg-4;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
}

.table-responsive {
  width: calc(100vw - 40px);

  @include media-breakpoint-up(md) {
    width: calc(100vw - 96px);
  }

  @include media-breakpoint-up(lg) {
    width: calc(100vw - 112px - 262px);
  }
}

.title {
  font-size: 36px;

  @include media-breakpoint-up(lg) {
    font-size: 44px;
  }
}

#addWhanau {
  @extend .overflow-auto;
  max-height: 120px;
}

#whanau {
  @extend .overflow-auto;
  max-height: 300px;
}

// // SCROLLBAR
// /* width */
// ::-webkit-scrollbar {
//   width: 10px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: #f1f1f1;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #888;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555;
// }
