@charset 'UTF-8';

// 1. Configuration and helpers
@import 'variables';

// 2. Vendors
@import "../../node_modules/bootstrap/scss/bootstrap";

// 3. Components
@import 'navbar', 'cards';
// GRID AREA
.bd-header{
 grid-area: bdheader;
}

.bd-sidebar{
  grid-area: bdsidebar;
  max-height: 100vh;
  overflow-y: auto;
  
  @include media-breakpoint-up(lg) {
    min-width: 262px;
    padding: 37px 25px 30px 30px;
  }
}

.bd-main {
  grid-area: bdmain;
}

.form-check-label, .form-check-input {
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-areas: 'bdheader'
  'bdmain';

  @include media-breakpoint-up(lg) {
    grid-template-areas: 'bdsidebar bdheader'
  'bdsidebar bdmain';
  }
}

.icon-md {
  width: 24px;
  height: 24px;
}

.icon-lg {
  width: 32px;
  height: 32px;
}

.icon-sm {
  width: 16px;
  height: 16px;
}

.img-lg {
  width: 50px;
  height: 50px;
}

.img-md {
  width: 32px;
  height: 32px;
}

.img-sm {
  width: 24px;
  height: 24px;
}

.btn-lg {
  font-size: 16px;
  @include media-breakpoint-up(lg) {
    font-size: 20px;
  }
}

.brand-wrapper {
  width: 157px;
  height: 27px;

  @include media-breakpoint-up(lg) {
    width: 187px;
    height: 32px;
  }
}

.form-container {
  padding: 30px 15px 70px 15px;

  @include media-breakpoint-up(lg) {
    padding: 70px 40px 70px 40px;
  }
}

.height-100vh {
  height: 100vh;
}

.title {
  font-size: 36px;

  @include media-breakpoint-up(lg) {
    font-size: 44px;
  }
}

.subtitle {
  font-size: 12px;

  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }
}


.fs-14 {
  font-size: 14px;
}

.fs-md-16 {
  @include media-breakpoint-up(md) {
    font-size: 16px;
  }
}